@import "../../../styles/styles";

#res {
  z-index: map-get($depth, 'overlay');
  position: fixed;
  padding-left: 36px;
}

.fa-search {
  font-size: 2em;
}

.form-check-inline {
  display: block !important;
}

@include media(#{$smallscreen}) {
  :host,
  .search-box {
    max-width: 75vw !important;
    margin-left: 0 !important;
    @include full_width;
  }

  .form-check-inline {
    margin-right: 0 !important;
  }

  .icon {
    display: none;
  }

  .fa-search {
    font-size: 1em;
  }
}
