@import './imports';

/* stylelint-disable selector-type-no-unknown */

body {
  margin-bottom: 50vh;
  font-family: $font-family !important;
}

h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  position: relative !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important;
  font-family: $font-family !important;
  text-align: center !important;
}

label {
  display: inline-block;
  margin: 0.5em 0 !important;
  padding-right: 5px !important;
  font-weight: bold;
  color: $blue;
}

.column {
  display: grid;
  align-content: start;
  grid-template-columns: auto;
}

.icon img {
  vertical-align: middle;
  height: 30px;
  padding-bottom: 4px;
  background-color: $white;
}

@mixin background-color($color) {
  background-color: $color;
}

$levels: (
  ('success', $success),
  ('warning', $warning),
  ('error', $error),
  ('info', $info)
);

@each $lvl, $color in $levels {
  .toast-#{$lvl} {
    @include background-color($color);
  }
}

.btn {
  @include mat-elevation(2);
}

.small-btn {
  padding: 4px 8px;

  & fa-icon {
    display: flex;
  }
}

.card-deck {
  display: inline-flex !important;
  flex-wrap: wrap !important;
}

.align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;

  &:hover,
  &:hover > * {
    text-decoration: underline !important;
  }
}

.small {
  top: calc(50% - 17px);
  position: relative;
  font-size: 12px;
  color: $light_gray;
}

.block {
  display: inline-block;
}

.item-result {
  top: calc(50% - 9px);
  position: relative;
}

.adult {
  background-color: $pink !important;
}

.title {
  margin-bottom: 0;
  font-size: 28px;
  text-align: center;
}

.search-result {
  width: calc(35vw - 18px);
  margin-top: 1px;
  margin-left: calc(1vw + 10px);
  padding: 5px 10px 5px 10px;
  background-color: $true_white;
  border: 1px solid $gray;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

  &:hover {
    color: $true_white;
    background-color: $green;
  }
}

.search-box,
.input-box {
  position: relative;
  width: 95%;
  height: 100%;
  padding: 8px 5px 8px 15px;
  font-size: 16px;
  color: $dark_gray;
  background-color: $white;
  border: 0;
  border-radius: 8px;
  outline: 0;
}

.input-box,
input[type='checkbox'] {
  width: calc(80% - 8px) !important;
}

.frame {
  position: relative;
  float: left;
  display: inline-block;
  vertical-align: bottom;
  max-width: 90%;
  margin: 0 30px 10px 10px;
  border: 3px solid $black;
  @include box-shadow;

  & img {
    vertical-align: top;
    border: 0;
  }

  & + a {
    margin: 0 8px 0 8px;
  }

  &:hover::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.contenu {
  display: table;
  margin-left: 20px;
}

.hide {
  display: none !important;
}

.hidden {
  visibility: hidden;
}

.woman {
  color: map-get($gender, 'woman');
}

.men {
  color: map-get($gender, 'man');
}

.unknown {
  color: map-get($gender, 'unknown');
}

.fadeIn {
  animation: fadeIn 1s both $bezier;
}

.fadeOut {
  animation: fadeOut 0.5s both $bezier;
}

.transparent {
  opacity: 0;
}

.overview {
  width: 80% !important;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
@each $theme in accent, primary {
  ::ng-deep.mat-checkbox-checked.mat-#{$theme} .mat-checkbox-background,
  ::ng-deep.mat-checkbox-indeterminate.mat-#{$theme} .mat-checkbox-background,
  ::ng-deep.mat-checkbox:not(.mat-checkbox-disabled).mat-#{$theme} .mat-checkbox-ripple .mat-ripple-element {
    background-color: $blue !important;
  }

  ::ng-deep.mat-#{$theme} {
    & .mat-pseudo-checkbox-checked {
      background-color: $blue !important;
    }

    & .mat-option.mat-selected:not(.mat-option-disabled),
    & .mat-pseudo-checkbox-indeterminate {
      color: $blue !important;
    }
  }

  ::ng-deep.mat-tab-group.mat-#{$theme} .mat-ink-bar,
  ::ng-deep.mat-tab-nav-bar.mat-#{$theme} .mat-ink-bar {
    background-color: $blue !important;
  }

  ::ng-deep.mat-form-field.mat-focused.mat-#{$theme} .mat-select-arrow {
    color: $blue !important;
  }
}

::ng-deep.mat-form-field.mat-focused {
  .mat-form-field-label,
  .mat-form-field-ripple {
    color: $blue !important;
  }

  .mat-form-field-ripple {
    background-color: $blue !important;
  }
}

::ng-deep.mat-slide-toggle.mat-checked {
  & .mat-slide-toggle-thumb,
  & .mat-ripple-element {
    background-color: $blue !important;
  }

  & .mat-slide-toggle-bar {
    background-color: $light_blue !important;
  }
}

@mixin full_width {
  width: 100vw !important;
}

@mixin width_100percent {
  width: 100% !important;
}

.disable_selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.mobile {
  display: none;
}

.desktop {
  display: block;
}

.big-autocomplete {
  min-height: 576px !important;

  & img {
    height: 94px;
  }

  & .mat-option {
    min-height: 96px !important;
  }
}

.tag-color {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: center;
  width: 40px;
  height: 40px;
  border-radius: 40px;
}

@include media(#{$smallscreen}) {
  button {
    font-size: 0.8em !important;
  }

  .mobile {
    display: block;
  }

  .desktop {
    display: none;
  }

  .contenu {
    margin-left: 0 !important;
  }

  .overview {
    @include full_width;

    padding: 0 5px;
  }

  .computer {
    display: none !important;
  }

  .column {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  .card-deck {
    display: inherit !important;
    flex-wrap: inherit !important;
  }

  .page-link[aria-label="Next"],
  .page-link[aria-label="Previous"],
  .page-link[aria-label="First"],
  .page-link[aria-label="Last"] {
    display: none !important;
  }

  .search-result {
    width: calc(70vw - 18px);
  }

  .search-box,
  .input-box {
    width: calc(80% - 8px) !important;
    margin-top: 0.5vh;
    padding: 0 5px 0 15px;
    font-size: 14px;
  }

  .big-autocomplete {
    min-height: 402px !important;

    & img {
      height: 64px;
    }

    & .mat-option {
      min-height: 66px !important;
    }
  }
}
