/* Media */
$smallscreen: 700px;
$desktop: 1024px;
$big_screen: 1500px;

/* Font */
$font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

/* Color */
$blue: #007fff;
$light_blue: #75baff;
$blue_hover: #607d8b;
$white: #f6f6f6;
$dark_gray: #484848;
$gray: #6c757d;
$light_gray: #8d8d8d;
$gray_hover: #cfcfcf;
$true_white: #fff;
$black: #000;
$green: #0ad06f;
$pink: #ff637e;
$info: #283593;
$success: #1aaa55;
$warning: #fc6d26;
$error: #ff3838;

$gender: (
  'woman': $pink,
  'man': $blue,
  'unknown': $green,
);

$bezier: cubic-bezier(0.86, 0, 0.07, 1);
$border_radius: 3px;

/* zindex */
$depth: (
  'content': 1,
  'tooltip': 75,
  'toolbar': 100,
  'overlay': 200,
  'top': 300,
  'modal': 400
);
