@import './imports.scss';

body {
  font-family: $font-family !important;
}

h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  position: relative !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important;
  font-family: $font-family !important;
  text-align: center !important;
}

.display-flex {
  @extend .d-flex;
}

.display-inline-flex {
  @extend .d-inline-flex;
}

label {
  display: inline-block;
  margin: 0.5em 0 !important;
  padding-right: 5px !important;
  font-weight: bold;
  color: $blue;
}

.column {
  display: grid;
  align-content: start;
  grid-template-columns: auto;
}

.icon img {
  vertical-align: middle;
  height: 30px;
  padding-bottom: 4px;
  background-color: $white;
}

.card-deck {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
}

.align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;

  &:hover {
    text-decoration: underline !important;
  }
}

.small {
  top: calc(50% - 17px);
  position: relative;
  font-size: 12px;
  color: $light_gray;
}

.block {
  display: inline-block;
}

.item-result {
  top: calc(50% - 9px);
  position: relative;
}

.search-result {
  width: calc(70% - 18px);
  margin-top: 1px;
  margin-left: calc(10% + 10px);
  padding: 5px 10px 5px 10px;
  background-color: $true_white;
  border: 1px solid $gray;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;

  &:hover {
    color: $true_white;
    background-color: $green;
  }
}

.search-box,
.input-box {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 8px 5px 8px 15px;
  font-size: 16px;
  color: $dark_gray;
  background-color: $white;
  border: 0;
  border-radius: 8px;
  outline: 0;
}

.search-box {
  margin-left: 10%;
}

input {
  width: calc(80% - 8px) !important;
}

.frame {
  position: relative;
  float: left;
  display: inline-block;
  vertical-align: bottom;
  max-width: 90%;
  margin: 0 30px 0 10px;
  border: 3px solid $black;
  @include box-shadow;

  & img {
    vertical-align: top;
    border: 0;
  }

  &:hover::after {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    height: 100%;
    width: 100%;
    background-color: $black;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.reco a {
  float: none;
  margin: 20px 8px 10px 8px;
}

.profile {
  position: absolute;
  z-index: 99;
  display: none;
  margin: 25px 0 0 -92px;
  border: 3px solid $black;
  @include box-shadow;
}

.myTooltip:hover .profile {
  display: inline-block;
}

.borderStyle > a {
  margin-bottom: 6px !important;
  border: 1px solid $gray;
  border-radius: 8px;
}

.borderStyle > a:hover {
  color: $true_white;
  background-color: $blue;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: $gray_hover !important;
}

.synopsis {
  width: 70%;
}

.dataTables_filter {
  float: left !important;
  margin-left: 100px !important;
}

.dataTables_filter > label {
  display: flex;
}

.myFilter {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.posterDT {
  width: 10%;

  &:hover {
    width: 60%;
  }
}

.display-none {
  display: none !important;
}

.adultBox {
  display: none !important;
}

.woman {
  color: map-get($gender, 'woman');
}

.men {
  color: map-get($gender, 'man');
}

.unknown {
  color: map-get($gender, 'unknown');
}

@include media(#{$smallscreen}) {
  button {
    font-size: 0.8em !important;
  }

  .contenu {
    margin-left: 0 !important;
  }

  .synopsis {
    width: 100vw !important;
  }

  .column {
    display: inline-grid;
  }
}
