$smallscreen: 550px;

body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
}

h1 {
  font-family: Arial, Helvetica, sans-serif !important;
  color: #369;
}

h1,
h2,
h3,
h4 {
  box-sizing: border-box !important;
  position: relative !important;
  margin-bottom: 8px !important;
  margin-top: 0 !important;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif !important;
  text-align: center !important;
}

label {
  display: inline-block;
  margin: 0.5em 0 !important;
  padding-right: 5px !important;
  font-weight: bold;
  color: #007bff;
}

.icon img {
  vertical-align: middle;
  height: 30px;
  padding-bottom: 4px;
  background-color: rgb(246, 246, 246);
}

.card-deck {
  display: inline-flex !important;
  flex-wrap: nowrap !important;
}

.align-center {
  text-align: center;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline !important;
}

.small {
  top: calc(50% - 17px);
  position: relative;
  font-size: 12px;
  color: #8d8d8d;
}

.block {
  display: inline-block;
}

.item-result {
  top: calc(50% - 9px);
  position: relative;
}

.search-result {
  width: calc(70% - 18px);
  margin-top: 1px;
  margin-left: calc(10% + 10px);
  padding: 5px;
  padding: 5px 10px 5px 10px;
  background-color: white;
  border: 1px solid gray;
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.search-result:hover {
  color: #fff;
  background-color: #0ad06f;
}

.search-box,
.input-box {
  position: relative;
  width: 70%;
  height: 100%;
  padding: 8px 5px 8px 15px;
  font-size: 16px;
  color: #484848;
  background-color: rgb(246, 246, 246);
  border: 0;
  border-radius: 8px;
  outline: 0;
}

.search-box {
  margin-left: 10%;
}

input {
  width: calc(80% - 8px) !important;
}

.affiche {
  position: relative;
  float: left;
  display: inline-block;
  vertical-align: bottom;
  max-width: 90%;
  margin: 0 30px 0 10px;
  border: 3px solid #000;
  -webkit-box-shadow: 1px 1px 20px #000;
  -moz-box-shadow: 1px 1px 20px #000;
  box-shadow: 1px 1px 20px #000;
}

.affiche img {
  vertical-align: top;
  border: 0;
}

.affiche:hover::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.5);
}

.reco a {
  float: none;
  margin: 20px 8px 10px 8px;
}

.profile {
  position: absolute;
  z-index: 99;
  display: none;
  margin: 25px 0 0 -92px;
  border: 3px solid #000;
  -webkit-box-shadow: 1px 1px 20px #000;
  -moz-box-shadow: 1px 1px 20px #000;
  box-shadow: 1px 1px 20px #000;
}

.myTooltip:hover .profile {
  display: inline-block;
}

.borderStyle > a {
  margin-bottom: 6px !important;
  border: 1px solid gray;
  border-radius: 8px;
}

.borderStyle > a:hover {
  color: #fff;
  background-color: #007bff;
}

table.dataTable.hover tbody tr:hover,
table.dataTable.display tbody tr:hover,
table.dataTable.order-column.hover tbody tr:hover > .sorting_1 {
  background-color: #cfcfcf !important;
}

.dataTables_filter {
  float: left !important;
  margin-left: 100px !important;
}

.dataTables_filter > label {
  display: flex;
}

.myFilter {
  box-sizing: border-box;
  width: 100%;
  padding: 3px;
}

.posterDT {
  width: 10%;
}

.posterDT:hover {
  width: 60%;
}

.display-none {
  display: none !important;
}

.adultBox {
  display: none !important;
}

.woman {
  color: #ff637e;
}

.men {
  color: #007bff;
}

.unknown {
  color: #7abb51;
}

@media all and (max-width: #{$smallscreen}) {
  button {
    font-size: 0.8em !important;
  }

  .contenu {
    margin-left: 0 !important;
  }

  .synopsis {
    width: 100vw !important;
  }
}
