@mixin media($width) {
  @media all and (max-width: $width) {
    @content;
  }
}

@mixin box-shadow {
  -webkit-box-shadow: 1px 1px 20px $black;
  -moz-box-shadow: 1px 1px 20px $black;
  box-shadow: 1px 1px 20px $black;
}

@mixin box-sizing {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
