@import "../../../styles/styles";

:host {
  position: absolute;
  top: 62px;
}

.mat-tab-link {
  padding: 0 0 0 10px !important;
}

::ng-deep.mat-tab-links {
  display: block !important;
  width: 100vw;
  overflow: auto;
  white-space: nowrap;
}

.tabs-content {
  width: 100vw;
}

.closeTab {
  padding: 20px;

  &:hover {
    background-color: $light_gray;
  }
}

@include media(#{$smallscreen}) {
  :host {
    top: 75px;
  }
}
