@import "../../../styles/styles";

:host {
  position: absolute;
  top: 62px;
}

.closeTab {
  margin-left: 10px;
  padding: 20px;

  &:hover {
    background-color: $light_gray;
  }
}

@include media(#{$smallscreen}) {
  :host {
    top: 75px;
  }
}
