<div id="search-component">
	<h4>Movie Search</h4>
	<div class="form-check form-check-inline">
		<div class="search-box">
            <i class="fa fa-search fa-2x" aria-hidden="true"></i>
			<input #searchBox class="input-box" (keyup)="search(searchBox.value)" placeholder="Rechercher des films" (click)="showMovie = true" /> <a class="icon pointer"
				(click)="showMovie = !showMovie; searchBox.value=''"> <img src="./app/img/exit.png" />
			</a>
		</div>
		<label ngbButtonLabel class="adultBox"> <input type="checkbox" ngbButton [(ngModel)]="adult" (click)="search(searchBox.value)">Adult
		</label>
	</div>
	<div id="res" *ngIf="showMovie">
		<div id="result" *ngFor="let movie of movies | async" (click)="gotoDetail(movie)" class="search-result" [ngClass]="{'adult': movie.adult}">
			<div [ngClass]="{'item-result' : !movie.original_title}">{{movie.title | capitalizeWord}} ({{movie.date | date : "yyyy"}})</div>
			<div *ngIf="movie.original_title" class="small">{{movie.original_title}}</div>
		</div>
	</div>
</div>