@import "../../../styles/styles";
@import "../../../styles/detail";

label {
  display: inline !important;
}

.season-episodes {
  display: flex;
  justify-content: center;
  width: 99vw;

  & > * {
    min-width: 60vw;
  }
}

@include media(#{$desktop}, false) {
  .pad-left {
    margin-left: 20px !important;
  }

  label ~ div {
    display: inline;

    & > span {
      display: table-cell;
    }
  }
}

@include media(#{$smallscreen}) {
  .mat-expansion-panel-header-description,
  .mat-expansion-panel-header-title {
    margin-right: 0 !important;
  }

  .mat-expansion-panel-header {
    padding-left: 12px !important;
  }

  .season-episodes ::ng-deep app-list-persons {
    width: 90vw !important;
  }
}
