<div class="header" [ngClass]="{'hidden': !isHeaderVisible, 'visible': isHeaderVisible}">
  <div class="header-buttons">
    <nav>
      <button class="btn btn-outline-primary" routerLink="/dashboard" *ngIf="isLogged$ | async">{{'nav_bar.dashboard' |
        translate}}</button>
      <button class="btn btn-outline-primary" routerLink="/movies" *ngIf="isLogged$ | async">{{'nav_bar.movies' |
        translate}}</button>
      <button class="btn btn-outline-primary" routerLink="/release" *ngIf="isLogged$ | async">{{'nav_bar.release' |
        translate}}</button>
      <button class="btn btn-outline-primary" routerLink="/discover" *ngIf="isLogged$ | async">{{'nav_bar.discover' |
        translate}}</button>
      <div class="dropdown" *ngIf="isLogged$ | async">
        <button class="btn btn-outline-primary dropdown-toggle" type="button" id="dropdownLogin" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <fa-icon [icon]="faUser"></fa-icon>
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownLogin">
          <a class="pointer dropdown-item" routerLink="login/profile">{{'nav_bar.profile'| translate}}: {{user?.name}}</a>
          <a class="pointer dropdown-item" (click)="logout()">{{'nav_bar.logout' | translate}}</a>
        </div>
      </div>
      <app-dropdown-language [userLang]="true"></app-dropdown-language>
    </nav>
  </div>
  <div class="row w-100" *ngIf="isLogged$ | async">
    <app-movie-search class="col-6"></app-movie-search>
    <app-person-search class="col-6"></app-person-search>
  </div>
</div>
