@import "../../../styles/styles";

:host nav {
  display: inline-flex;
  flex-wrap: wrap;
  width: 100vw;

  & > * {
    margin: 0 2px 0 2px;
  }
}

.header {
  position: fixed;
  max-height: 150px;
  background-color: #fff;
  overflow-y: auto;
}

.header-buttons {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.hidden {
  z-index: 0;
  transform: translateY(-100%);
  opacity: 0;
}

.visible {
  z-index: 500;
  transform: translateY(0);
  opacity: 1;
}

@include media(#{$smallscreen}) {
  :host nav {
    & > * {
      margin: 0;
    }
  }

  .dropdown-menu {
    transform: translate3d(-162px, 0, 0);
  }

  .header-buttons {
    padding: 10px 0 0 0;
  }
}
