@import "../../../../styles/styles";

h4 {
  text-align: center;
}

#res {
  padding-left: 36px;
}

.adult {
  background-color: $pink;
}

.form-check-inline {
  display: block !important;
}

@include media(#{$smallscreen}) {
  :host,
  .search-box {
    max-width: 100vw !important;
    margin-left: 0 !important;
    @include full_width;
  }

  .form-check-inline {
    margin-right: 0 !important;
  }

  .icon {
    display: none;
  }
}
