<div id="search-component">
  <div class="form-check form-check-inline">
    <div class="search-box">
      <fa-icon [icon]="faSearch"></fa-icon>
      <input #searchBox class="input-box" (keyup)="search(searchBox.value)" placeholder="{{'person-search.placeholder' | translate}}" (click)="showPerson = true"
      />
      <a class="icon pointer" (click)="showPerson = !showPerson; searchBox.value=''">
        <img src="./assets/exit.png" />
      </a>
    </div>
  </div>
  <div id="res" *ngIf="showPerson">
    <div *ngFor="let person of persons | async" (click)="searchBox.value='';gotoPerson(person)" class="search-result" [ngClass]="{'adult': person.adult}">
      <div class="media">
        <img class="mr-2" *ngIf="person.thumbnail" src="{{person.thumbnail}}" style="width: 5%;">
        <div class="media-body">
          <p>{{person.name | capitalizeWord}}</p>
        </div>
      </div>
    </div>
  </div>
</div>
