@import '../../../styles/styles';

:host > div {
  overflow-y: scroll;
}

.open {
  position: fixed;
  z-index: map-get($depth, 'modal');
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: white;
  animation: fade 0.3s $bezier;
}

.closeBtn {
  position: absolute;
  top: 10px;
  right: 30px;
  z-index: map-get($depth, 'modal');
  display: block;
  padding: 0.5em 0.9em;
  font-size: 20px;
  color: $blue;
  background-color: $blue_hover;
  border-radius: 60px;
  box-shadow: 0 0 4px $blue;
  animation: fade 0.6s both $bezier;

  &:hover {
    background-color: lighten($blue_hover, 25%);
    cursor: pointer;
  }
}

@include media(#{$smallscreen}) {
  .closeBtn {
    right: 10px;
    font-size: 16px;
  }
}
