<div *ngIf="creators">
  <app-list-persons
    [persons]="creators"
    [label]="'person-list.creators' | translate"
  ></app-list-persons>
</div>
<!-- Actors -->
<app-list-persons
  [persons]="actors"
  [label]="'person-list.actors' | translate"
></app-list-persons>
<!-- Crew -->
<div *ngIf="isDetail && crew && crew.length > 0">
  <div *ngIf="crew | filterCrew: ['director'] as director">
    <app-list-persons
      [persons]="director"
      [label]="'person-list.directors' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: Job.producer as producer">
    <app-list-persons
      [persons]="producer"
      [label]="'person-list.producers' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: Job.compositor as compositors">
    <app-list-persons
      [persons]="compositors"
      [label]="'person-list.composers' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: ['songs', 'Theme Song Performance'] as songs">
    <app-list-persons
      [persons]="songs"
      [label]="'person-list.song' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: Job.screenwriter as screenplay">
    <app-list-persons
      [persons]="screenplay"
      [label]="'person-list.screenwriters' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: Job.novelist as author">
    <app-list-persons
      [persons]="author"
      [label]="'person-list.authors' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: ['cameo'] as cameo">
    <app-list-persons
      [persons]="cameo"
      [label]="'person-list.cameos' | translate"
    ></app-list-persons>
  </div>
  <div *ngIf="crew | filterCrew: ['special Guest'] as guest">
    <app-list-persons
      [persons]="guest"
      [label]="'person-list.guests' | translate"
    ></app-list-persons>
  </div>
</div>
<div *ngIf="!isDetail && (crew | filterCrew: ['director']) as director">
  <app-list-persons
    [persons]="director"
    [label]="'person-list.directors' | translate"
  ></app-list-persons>
</div>
