<br />
<div>
	<div class="row">
		<div class="col-sm-2">
			<div class="btn-group-vertical ml-4 mt-4" role="group">
				<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next"
					(ngModelChange)="getMoviesByReleaseDates(); selectedMovie = null;"></ngb-datepicker>
				<button class="btn btn-outline-primary" (click)="dp.navigateTo(removeOneWeek())">Select
					previous week</button>
				<button class="btn btn-outline-primary" (click)="dp.navigateTo(selectPreviousWednesday())">Select
					current week</button>
				<button class="btn btn-outline-primary" (click)="dp.navigateTo(addOneWeek())">Select
					next week</button>
			</div>
		</div>
		<div class="col-sm-3">
			Films sortis du {{monday | date : "dd/MM/yyyy"}} au {{sunday | date : "dd/MM/yyyy"}}:
			<div class="list-group">
				<a *ngFor="let movie of movies" (click)="onSelect(movie)"
					[class.active]="selectedMovie !==null && movie.id === selectedMovie.id"
					class="list-group-item list-group-item-action pointer"> <span>{{movie.title.slice(0,40)
						| capitalizeWord}}</span>
				</a>
			</div>
		</div>
		<div class="col-sm-6">
			<div *ngIf="selectedMovie">
				<div class="row">
					<div class="col-sm-3">
						<div>
							<a class="affiche" href="{{selectedMovie.affiche}}" target="_blank"> <img
								src="{{selectedMovie.thumbnail}}" /></a>
						</div>
					</div>
					<div class="col-sm-9">
						<h2>{{selectedMovie.title | capitalizeWord}}</h2>
						<div>
							<label>Date: </label>{{selectedMovie.date | date:'EEEE dd MMMM yyyy' | capitalizeWord}}
						</div>
						<div *ngIf="selectedMovie.synopsis">
							<label>Synopsis: </label>
							<div class="synopsis text-justify">{{selectedMovie.synopsis}}</div>
						</div>
						<div *ngIf="selectedMovie.actors.length > 0">
							<label>Acteurs: </label>
							<div class="block">
								<span *ngFor="let actor of selectedMovie.actors; let last=last;"> <a
									[routerLink]="['/person', actor.id]" class="myTooltip"><span class="pointer">{{actor.name|
											capitalizeWord}}</span><img class="profile" [src]="Url.IMAGE_URL_92.concat(actor.profile_path)"
										*ngIf="actor.profile_path" /> </a> <span *ngIf="!last">/</span>
								</span>
							</div>
						</div>
						<div *ngIf="(selectedMovie.crew | filterCrew:'director') as director">
							<div *ngIf="director.length > 0">
								<label>R&eacute;alisateur: </label> <span *ngFor="let d of director; let last=last;">
									<a [routerLink]="['/person', d.id]" class="myTooltip"><span class="pointer">{{d.name|
											capitalizeWord}}</span> <img class="profile" [src]="Url.IMAGE_URL_92.concat(d.profile_path)"
										*ngIf="d.profile_path" /> </a> <span *ngIf="!last">/</span>
								</span>
							</div>
						</div>
						<div *ngIf="selectedMovie.note > 0">
							<label>Note: </label>{{selectedMovie.note}} / 10
							<rating [(ngModel)]="selectedMovie.note" [max]="10" [readonly]="true" [float]="true"></rating>
						</div>
						<nav class="nav nav-pills nav-fill borderStyle">
							<a class="nav-item nav-link" href="{{metacritic}}" target="_blank"><i
								class="fa fa-database fa-3x" aria-hidden="true"></i> Metacritic</a> <a class="nav-item nav-link"
								href="{{senscritique}}" target="_blank"><i class="fa fa-film fa-3x" aria-hidden="true"></i>
								SensCritique</a> <a class="nav-item nav-link" href="{{wikiEN}}" target="_blank"><i
								class="fa fa-wikipedia-w fa-3x" aria-hidden="true"></i> EN</a> <a class="nav-item nav-link"
								href="{{wikiFR}}" target="_blank"><i class="fa fa-wikipedia-w fa-3x" aria-hidden="true"></i>
								FR</a>
							<button class="btn btn-outline-primary" (click)="openAll()">Open the 4 links</button>
							<a class="nav-item nav-link" href="{{imdb}}" target="_blank"><i class="fa fa-imdb fa-3x"
								aria-hidden="true"></i></a>
						</nav>
						<button class="btn btn-outline-primary" (click)="meta(selectedMovie)">
							<span class="fa fa-star" aria-hidden="true"></span> Add To Collection
						</button>
						<a class="btn btn-outline-primary" [routerLink]="['/detail', selectedMovie.id]" target="_blank"> View
							Details <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
						</a>
					</div>
				</div>
			</div>
			<br />
		</div>
	</div>
</div>
