<br />
<div>
  <div class="row">
    <div class="col-sm-2">
      <div class="btn-group-vertical ml-4 mt-4" role="group">
        <ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (ngModelChange)="getMoviesByReleaseDates(); selectedMovie = null;"></ngb-datepicker>
        <button class="btn btn-outline-primary" (click)="dp.navigateTo(removeOneWeek())">Select previous week</button>
        <button class="btn btn-outline-primary" (click)="dp.navigateTo(selectPreviousWednesday())">Select current week</button>
        <button class="btn btn-outline-primary" (click)="dp.navigateTo(addOneWeek())">Select next week</button>
      </div>
    </div>
    <div class="col-sm-3">
      Films sortis du {{monday | date : "dd/MM/yyyy"}} au {{sunday | date : "dd/MM/yyyy"}}:
      <div class="list-group">
        <a *ngFor="let movie of movies" (click)="onSelect(movie)"
          class="list-group-item list-group-item-action"
          [ngClass]="{
          'bg-primary': selectedMovie !==null && movie.id === selectedMovie.id,
          'bg-info': movie.vote_count > 10 && (movie.popularity > 40 || movie.vote_count > 100) && ((selectedMovie !==null && movie.id !== selectedMovie.id) || selectedMovie === null),
          'bg-success': movie.note > 7 && movie.vote_count > 10 && ((selectedMovie !==null && movie.id !== selectedMovie.id) || selectedMovie === null),
          'bg-danger': movie.note < 5 && movie.vote_count > 10 && ((selectedMovie !==null && movie.id !== selectedMovie.id) || selectedMovie === null)}">
          <span *ngIf="movie.language">{{movie.language | capitalizeWord}} - </span>
          <span class="pointer">{{movie.title.slice(0,40) | capitalizeWord}}</span>
          <span *ngIf="movie.note > 0"> - {{movie.note}}/10</span>
          <span *ngIf="movie.vote_count > 0">({{movie.vote_count}})</span>
          <span *ngIf="movie.popularity > 0"> - {{movie.popularity | number: '1.0-0'}}</span>
        </a>
      </div>
    </div>
    <div class="col-sm-6">
      <div *ngIf="selectedMovie">
        <div class="row">
          <div class="col-sm-3">
            <div>
              <a class="affiche" href="{{selectedMovie.affiche}}" target="_blank">
                <img src="{{selectedMovie.thumbnail}}" />
              </a>
            </div>
          </div>
          <div class="col-sm-9">
            <h2>{{selectedMovie.title | capitalizeWord}}</h2>
            <div>
              <label>Date: </label>{{selectedMovie.date | date:'EEEE dd MMMM yyyy' | capitalizeWord}}
            </div>
            <div *ngIf="selectedMovie.synopsis">
              <label>Synopsis: </label>
              <div class="synopsis text-justify">{{selectedMovie.synopsis}}</div>
            </div>
            <div *ngIf="selectedMovie.time > 0">
              <label>Dur&eacute;e: </label>{{selectedMovie.time | convertToHHmm}}
            </div>
            <div *ngIf="selectedMovie.genres.length > 0">
              <label>Genres: </label>
              <div class="block">
                <span *ngFor="let genre of selectedMovie.genres; let last=last;">
                  <span>{{genre| capitalizeWord}}</span>
                  <span *ngIf="!last">/</span>
                </span>
              </div>
            </div>
            <app-list-persons [persons]="selectedMovie.actors" [label]="'Acteurs: '"></app-list-persons>
            <div *ngIf="(selectedMovie.crew | filterCrew:'director') as director">
              <app-list-persons [persons]="director" [label]="'R&eacute;alisateur: '"></app-list-persons>
            </div>
            <div *ngIf="selectedMovie.note > 0">
              <label>Note: </label>{{selectedMovie.note}} / 10
              <rating [(ngModel)]="selectedMovie.note" [max]="10" [readonly]="true" [float]="true"></rating>
            </div>
            <app-meta [movie]="selectedMovie"></app-meta>
            <button class="btn btn-outline-primary" (click)="meta(selectedMovie)">
              <span class="fa fa-star" aria-hidden="true"></span> Add To Collection
            </button>
            <a class="btn btn-outline-primary" [routerLink]="['/detail', selectedMovie.id]"> View Details
              <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
            </a>
          </div>
        </div>
      </div>
      <br />
    </div>
  </div>
</div>
