@import "../../../styles/styles";

.card-deck {
  margin-right: 0px !important;
}

.reco {
  display: flex;

  & input {
    width: 100% !important;
  }
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  float: unset !important;
}

.reco-item {
  display: inline-flex;
  flex-direction: column;
}

.reco-infos {
  width: 95%;
  margin:auto;
  margin-top: 15px;
  text-align: center;
}

.total {
  position: relative;
  display: block;
  margin-left: -1px;
  padding: 0.5rem 0.75rem;
  line-height: 1.25;
  color: $blue;
  border: 1px solid #dee2e6;
}

@include media(#{$smallscreen}) {
  .reco {
    display: inline-flex !important;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .reco-item {
    width: 100%;
    margin-bottom: 20px;
  }

  .card-deck, .card {
    @include full_width;
  }
}
