<div class="card-deck" *ngIf="movies.length > 0">
  <div class="card card-outline-primary">
    <div class="card-header">
      <div class="movies-params movies-sorting">
        <mat-select placeholder="{{'global.sort' | translate}}" [(value)]="sortChosen" (selectionChange)="sortOrSearchChanged(true)">
          <mat-option *ngFor="let sort of sortChoices" [value]="sort">{{sort.label_key | translate}}</mat-option>
        </mat-select>
        <mat-button-toggle-group [(value)]="sortDir" (change)="sortDir = $event.value; sortOrSearchChanged(true)">
          <div class="toogleHeader">
            {{'global.sort_direction'|translate}}:
          </div>
          <mat-button-toggle value="desc">
            {{'global.sort_up'|translate}}
          </mat-button-toggle>
          <mat-button-toggle value="asc">
            {{'global.sort_down'|translate}}
          </mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <div class="movies-params movies-search">
        <mat-form-field>
          <input matInput type="search" placeholder="{{'movies.filter.placeholder' | translate}}" [(ngModel)]="research"
            (keyup)="sortOrSearchChanged(true);" />
        </mat-form-field>
        <span *ngIf="research" (click)="research=''; sortOrSearchChanged(true);" class="pointer clear-btn">
          <fa-icon [icon]="['far', 'times-circle']" size="lg"></fa-icon>
        </span>
      </div>
      <label>{{label}}</label>
    </div>
    <div class="d-flex justify-content-center">
      <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="resultLength" [(page)]="page" [maxSize]="3"
        [rotate]="true" [boundaryLinks]="true" [pageSize]="pageSize"></ngb-pagination>
      <span><span class="total">{{'movie-list.total' | translate}}: {{resultLength}}</span></span>
    </div>
    <div class="card-body">
      <div class="reco">
        <div *ngFor="let reco of moviesToShow;" class="reco-item">
          <img class="frame center pointer" src="{{reco.affiche | image:'small'}}" alt="{{reco.title| capitalizeWord}}" appOpenLink
            [label]="reco.title" url="/movie/{{reco.id}}" matTooltip="{{reco.character}}">
          <p class="reco-infos center" [ngClass]="{'adult': reco.adult}">{{reco.title | capitalizeWord}} - {{reco.date
            | date : 'MMM yyyy':'':translate.currentLang | capitalizeWord}} -
            {{reco.note}} / 10 ({{reco.vote_count}}) - {{reco.popularity |
            number:'1.0-2':translate.currentLang}}</p>
          <input [(ngModel)]="reco.checked" type="checkbox">
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <ngb-pagination (pageChange)="pageChanged($event)" [collectionSize]="resultLength" [(page)]="page" [maxSize]="3"
        [rotate]="true" [boundaryLinks]="true" [pageSize]="pageSize"></ngb-pagination>
      <span><span class="total">{{'movie-list.total' | translate}}: {{resultLength}}</span></span>
    </div>
    <div class="card-footer text-center">
      <button class="btn btn-outline-primary" appAddCollection [movies]="movies" [label]="'movie-list.add'" [isSingleMovie]="false">
      </button>
    </div>
  </div>
</div>
