<mat-form-field>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let p of list" [selectable]="true" [removable]="true" (removed)="removeItem(p)">
      {{p.name}}
      <span matChipRemove>
        <fa-icon [icon]="faRemove"></fa-icon>
      </span>
    </mat-chip>
    <input #inputSearch matInput placeholder="{{placeholder|translate}}" [matAutocomplete]="auto" [formControl]="itemCtrl"
      [matChipInputFor]="chipList">
  </mat-chip-list>
</mat-form-field>
<mat-autocomplete #auto="matAutocomplete">
  <mat-option *ngFor="let item of filteredItems | async" (onSelectionChange)="addItem(item); inputSearch.value = ''">
    <div class="media">
      <img class="align-self-center" *ngIf="item.thumbnail" src="{{item.thumbnail}}" style="width:22%;">
      <div class="media-body">
        <p class="mt-0">{{item.name | capitalizeWord}}</p>
      </div>
    </div>
  </mat-option>
</mat-autocomplete>
