@import "../../../../styles/styles";
/* stylelint-disable selector-type-no-unknown */

.mat-option {
  padding: 0 !important;
}

.result-content {
  display: flex;
  align-items: center;

  & img {
    padding: 0 5px;
  }
}

.result-body {
  white-space: pre-line;
  line-height: 24px !important;
}

.mat-form-field {
  width: 20vw;
}

mat-slide-toggle {
  align-self: center;
}

@include media(#{$smallscreen}) {
  .mat-form-field {
    width: 75vw;
  }
}
