@import "../../../styles/styles";

.profile {
  position: absolute;
  z-index: 99;
  display: none;
  border: 3px solid $black;
  @include box-shadow;

  .myTooltip:hover & {
    display: block;
    float: left;
  }
}

@include media(#{$smallscreen}) {
  :host {
    display: inherit !important;
    @include full_width;
  }
}
