@import "../../../styles/styles";

.profile {
  position: absolute;
  z-index: map-get($depth, tooltip);
  display: none;

  & img {
    border: 3px solid $black;
    @include box-shadow;
  }

  .myTooltip:hover & {
    display: block;
    float: left;
  }
}

.character {
  z-index: map-get($depth, tooltip);

  .myTooltip & {
    display: contents;
    float: left;
  }
}

@include media(#{$smallscreen}) {
  :host {
    display: inherit !important;
    @include full_width;
  }
}
