<div *ngIf="persons.length > 0">
  <label>{{label}}: </label>
  <div class="block">
    <span *ngFor="let person of persons; let last=last; let i = index">
      <span *ngIf="i<(limit+1) || showAll">
        <span appOpenLink [label]="person.name" url="/person/{{person.id}}" class="myTooltip" [ngClass]="{'woman': person.gender === 1, 'men': person.gender === 2, 'unknown': person.gender === 0, 'unknown': !person.gender}">
          <span class="pointer block">{{person.name| capitalizeWord}}
            <div class="character" *ngIf="person.character"> ({{person.character| capitalizeWord}})</div>
            <img class="frame profile" [src]="person.profile_path | image:imageSize.small" *ngIf="person.profile_path" /></span></span>
        <span *ngIf="(((i !== limit && !showAll) || (!last && showAll)) && persons.length >= limit) || (persons.length < limit && !last)">/
        </span>
      </span>
    </span>
  </div>
  <div>
    <button *ngIf="persons.length > limit" class="btn btn-primary" (click)="showAll=!showAll">
      <span *ngIf="!showAll">{{'person-list.show' | translate}} {{label | lowercase}}</span>
      <span *ngIf="showAll">{{'person-list.hide' | translate}} {{label | lowercase}}</span>
    </button>
  </div>
</div>
