@import "../../../../styles/styles";

/* stylelint-disable selector-type-no-unknown */

a {
  text-decoration: none;
}

swiper {
  position: fixed;
  width: 100vw;
}

#swiper-top {
  z-index: 99;
  top: 20vh;
}

#swiper-bottom {
  z-index: 1;
  top: 53vh;
}

#person_title {
  position: fixed;
  top: 45vh;
  width: 100vw;
}

*,
*::after,
*::before {
  @include box-sizing;
}

.title {
  margin: 20px 0;
}

.module {
  margin: 5px;
  padding: 20px;
  color: $blue;
  text-align: center;
  background-color: $true_white;
  border: 1px solid $blue;
  border-radius: 1.5em;

  &:hover {
    color: $true_white;
    background-color: $blue;
    cursor: pointer;
  }
}

.movie-link {
  margin-right: 0 !important;

  &:hover {
    height: 50vh !important;
  }
}

.profile {
  position: fixed;
  z-index: 99;
  display: none;
  margin: 5px 0 0 4vw;
  border: 3px solid $black;
  @include box-shadow;

  .myTooltip:hover & {
    display: inline-block;
  }
}

@include media(#{$smallscreen}) {
  swiper {
    position: inherit;
    width: inherit;
  }

  .wrapper {
    height: 55vh;
  }

  .movie-link {
    height: auto !important;
    margin-bottom: 0 !important;

    &:hover {
      height: auto !important;
    }
  }

  #person_title {
    position: static;
  }

  .profile {
    margin: 10px 0 0 25vw;
  }

  .module {
    padding: 10px;
  }

  h5 {
    font-size: 1rem;
  }
}
