@import "../../../../styles/styles";

/* stylelint-disable selector-type-no-unknown */

a {
  text-decoration: none;
}

#swiper-top {
  z-index: 99;
}

#swiper-bottom {
  z-index: 1;
  top: 485px;
}

*,
*::after,
*::before {
  @include box-sizing;
}

.title {
  margin: 20px 0;
}

.module {
  margin: 5px 5px 10px 5px;
  padding: 20px;
  color: $blue;
  text-align: center;
  background-color: $true_white;
  border: 1px solid $blue;
  border-radius: 1.5em;

  &:hover {
    color: $true_white;
    background-color: $blue;
    cursor: pointer;
  }
}

.movie-link {
  overflow: visible !important;

  &:hover {
    height: 80vh !important;
  }
}

.profile {
  position: fixed;
  z-index: 99;
  display: none;
  margin: 5px 0 0 4vw;
  border: 3px solid $black;
  @include box-shadow;

  .myTooltip:hover & {
    display: inline-block;
  }
}

@include desktop {
  swiper {
    position: fixed;
    width: 100vw;
    margin: auto !important;
  }

  ::ng-deep.swiper-button-next,
  ::ng-deep.swiper-button-prev {
    #swiper-top & {
      top: 70px !important;
    }

    #swiper-bottom & {
      top: 50px !important;
    }
  }

  #person_title {
    position: fixed;
    top: 410px;
    width: 100vw;
  }
}

@include media(#{$smallscreen}) {
  .wrapper {
    height: 55vh;
  }

  .movie-link {
    height: auto !important;

    &:hover {
      height: auto !important;
    }
  }

  .profile {
    margin: 10px 0 0 25vw;
  }

  .module {
    padding: 10px;
  }

  h5 {
    font-size: 1rem;
  }
}
