@import "../../../../styles/styles";

/* stylelint-disable selector-type-no-unknown */
/* stylelint-disable selector-pseudo-element-no-unknown */

a {
  text-decoration: none;
}

swiper {
  width: 100vw;
}

#swiper-top {
  z-index: map-get($depth, tooltip);
}

#swiper-middle {
  z-index: 49;
}

#swiper-bottom {
  z-index: 1;
}

*,
*::after,
*::before {
  @include box-sizing;
}

.module {
  margin: 5px 5px 10px 5px;
  padding: 20px;
  color: $blue;
  text-align: center;
  background-color: $true_white;
  border: 1px solid $blue;
  border-radius: 1.5em;

  &:hover {
    color: $true_white;
    background-color: $blue;
    cursor: pointer;
  }
}

.movie-link {
  overflow: visible !important;

  &:hover {
    height: 80vh !important;
  }
}

.profile {
  position: fixed;
  z-index: map-get($depth, tooltip);
  display: none;
  margin: 5px 0 0 4vw;
  border: 3px solid $black;
  @include box-shadow;

  .myTooltip:hover & {
    display: inline-block;
  }
}

@include media(#{$desktop}, false) {
  .title {
    margin: 20px 0;
  }

  swiper {
    position: fixed;
    margin: auto !important;
  }

  #swiper-middle {
    top: 385px;
  }

  #swiper-bottom {
    top: 580px;
  }

  ::ng-deep.swiper-button-next,
  ::ng-deep.swiper-button-prev {
    #swiper-top &,
    #swiper-middle & {
      top: 54px !important;
    }

    #swiper-bottom & {
      top: 40px !important;
    }
  }

  .title:not(#movie_title) {
    position: fixed;
    width: 100vw;

    &#person_title {
      top: 490px;
    }

    &#serie_title {
      top: 300px;
    }
  }
}

@include media(#{$smallscreen}) {
  .wrapper {
    height: 55vh;
  }

  .profile {
    display: none !important;
  }

  .movie-link {
    height: auto !important;

    &:hover {
      height: auto !important;
    }
  }

  .module {
    padding: 10px;
  }

  h5 {
    font-size: 1rem;
  }
}
