<div class="title" id="movie_title">{{'dashboard.movies' | translate}}:</div>
<div class="wrapper">
  <swiper [config]="swiperConfig" id="swiper-top" (reachEnd)="nextMovies()">
    <a *ngFor="let movie of movies" class="movie-link myTooltip">
      <div class="module mat-elevation-z4" appOpenLink [label]="movie.title" url="/movie/{{movie.id}}">
        <h5>{{movie.title | capitalizeWord}} - {{movie.date | date : "dd/MM/yyyy"}} - {{movie.vote}} / 10 -
          {{movie.popularity | number:'1.0-2':translate.currentLang}}</h5>
      </div>
      <img class="frame profile" [src]="movie.affiche | image:'medium'" *ngIf="movie.affiche" />
    </a>
  </swiper>
</div>
<div class="title" id="serie_title">{{'dashboard.series' | translate}}:</div>
<div class="wrapper">
  <swiper [config]="swiperConfig" id="swiper-middle" (reachEnd)="nextSeries()">
    <a *ngFor="let serie of series" class="movie-link myTooltip">
      <div class="module mat-elevation-z4" appOpenLink [label]="serie.title" url="/serie/{{serie.id}}">
        <h5>{{serie.title | capitalizeWord}} - {{serie.firstAired | date : "dd/MM/yyyy"}} - {{serie.vote}} / 10 -
          {{serie.popularity | number:'1.0-2':translate.currentLang}}</h5>
      </div>
      <img class="frame profile" [src]="serie.affiche | image:'medium'" *ngIf="serie.affiche" />
    </a>
  </swiper>
</div>
<div class="title" id="person_title">{{'dashboard.persons' | translate}}:</div>
<div class="wrapper">
  <swiper [config]="swiperConfig" id="swiper-bottom" (reachEnd)="nextPersons()">
    <a *ngFor="let person of persons" class="movie-link myTooltip">
      <div class="module mat-elevation-z4" appOpenLink [label]="person.name" url="/person/{{person.id}}">
        <h5>{{person.name | capitalizeWord}} - {{person.popularity | number:'1.0-2':translate.currentLang}}</h5>
      </div>
      <img class="frame profile" [src]="person.profile | image:'medium'" *ngIf="person.profile" />
    </a>
  </swiper>
</div>