@import "../../../styles/styles";
@import "../../../styles/detail";

.person-meta {
  float: left;
  margin: 0 10px 20px 20px;
}

label:not(#person-film) {
  display: inline !important;
}

#person-film {
  display: flex;
  width: 100%;
  margin-left: 10px !important;
}

figure {
  display: flex;
  flex-flow: column;
}

.toogle-display {
  display: flex;
  flex-direction: column;
  width: min-content;
  margin: auto;
  text-align: center;
}

.center {
  &,
  & > * {
    text-align: center;
  }
}

@include media(#{$desktop}, false) {
  label,
  .pad-left,
  label ~ div {
    margin-left: 20px !important;
  }
}

@include media(#{$smallscreen}) {
  .person-meta {
    margin: 20px 10px 0 20px;
  }

  figure {
    margin-left: -10px;
    margin-right: 10px;
  }

  /* stylelint-disable selector-pseudo-element-no-unknown */
  /* stylelint-disable selector-type-no-unknown */
  .person-profile ::ng-deep.frame-viewer {
    margin-top: 20px;
    margin-bottom: 0;
  }
}
