@import "../../../styles/styles";

ul {
  list-style-type: none;
}

input {
  height: 2em;
  padding-left: 0.4em;
  font-size: 1em;
}

.profile {
  position: relative;
  float: left;
  vertical-align: bottom;
  display: inline-block;
  max-width: 90%;
  margin: 0 30px 0 10px;
  border: 3px solid $black;
  -webkit-box-shadow: 1px 1px 20px $black;
  -moz-box-shadow: 1px 1px 20px $black;
  box-shadow: 1px 1px 20px $black;
}

.profile img {
  vertical-align: top;
  border: 0;
}

.profile:hover::after {
  content: '';
  position: absolute;
  top: 0;
  display: block;
  height: 100%;
  width: 100%;
  background-color: $black;
  background-color: rgba(0, 0, 0, 0.5);
}

.biography {
  width: 70%;
}

.contenu {
  display: table;
  margin-left: 180px;
}

#bottomBtn {
  clear: both;
  margin-left: 180px;
}

@include media(#{$smallscreen}) {
  .movies {
    padding-left: 0;
  }
}
