<div *ngIf="person">
  <h2>D&eacute;tails de {{person.name}} :</h2>
  <div>
    <a class="profile" href="{{person.profile}}" target="_blank">
      <img src="{{person.thumbnail}}">
    </a>
  </div>
  <div class="contenu">
    <button class="btn btn-outline-primary" (click)="goBack()">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous Page</button>
    <div>
      <label>Id:</label>{{person.id}}
    </div>
    <div>
      <label>Nom: </label>
      <span [ngClass]="{'woman': person.gender === 1, 'men': person.gender === 2, 'unknown': person.gender === 0}">{{person.name | capitalizeWord}}</span>
      <div *ngIf="person.birthPlace">
        <label>Lieu de naissance: </label>{{person.birthPlace | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday">
        <label>Naissance: </label>{{person.birthday | date:'dd MMMM yyyy' | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday | substractDate:person.deathday as age">
        <label>Age: </label>{{age}}
      </div>
      <div *ngIf="person.deathday">
        <label>Mort: </label>{{person.deathday | date:'dd MMMM yyyy' | capitalizeWord}}
      </div>
      <div *ngIf="person.biography">
        <label>Biographie: </label>
        <div class="biography">{{person.biography}}</div>
      </div>
    </div>
    <div *ngIf="person.images.length > 0">
      <button type="button" class="btn btn-outline-primary" (click)="isImagesCollapsed = !isImagesCollapsed">
        <i class="fa fa-plus-square" aria-hidden="true" [ngClass]="{'display-none' : isImagesCollapsed}"></i>
        <i class="fa fa-minus-square" aria-hidden="true" [ngClass]="{'display-none' : !isImagesCollapsed}"></i>
        Images:</button>
      <div *ngIf="isImagesCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="reco">
              <a *ngFor="let ima of person.images;" class="affiche" href="{{Url.IMAGE_URL_ORIGINAL.concat(ima)}}" target="_blank">
                <img src="{{Url.IMAGE_URL_154.concat(ima)}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure>
      <label>Films notables:</label>
      <ul class="movies">
        <li><app-list-movies [movies]="person.asActor" [label]="'En tant qu\'acteur:'"></app-list-movies></li>
        <li><app-list-movies [movies]="person.asDirector" [label]="'En tant que r&eacute;alisateur:'"></app-list-movies></li>
        <li><app-list-movies [movies]="person.asProducer" [label]="'En tant que producteur:'"></app-list-movies></li>
        <li><app-list-movies [movies]="person.asCompositors" [label]="'En tant que compositeur:'"></app-list-movies></li>
        <li><app-list-movies [movies]="person.asScreenplay" [label]="'En tant que sc&eacute;nariste:'"></app-list-movies></li>
        <li><app-list-movies [movies]="person.asNovel" [label]="'En tant qu\'&eacute;crivain:'"></app-list-movies></li>
      </ul>
    </figure>
  </div>
</div>
