<div *ngIf="person">
  <app-modal [visible]="isImagesVisible" (update)="isImagesVisible = $event">
    <app-image-viewer [images]="person.images" [visible]="isImagesVisible"></app-image-viewer>
  </app-modal>
  <h2>{{'person.header' | translate}} {{person.name}}:</h2>
  <div>
    <app-image-viewer [images]="person.profile" [visible]="true"></app-image-viewer>
  </div>
  <div class="contenu">
    <button class="btn btn-outline-primary" (click)="goBack()">
      <fa-icon [icon]="faChevronCircleLeft"></fa-icon> {{'global.previous' | translate}}
    </button>
    <button class="btn btn-outline-primary" (click)="discover()">
      <fa-icon [icon]="faAtom"></fa-icon> {{'title.discover' | translate}}
    </button>
    <div>
      <label>{{'person.id' | translate}}:</label>{{person.id}}
    </div>
    <div>
      <label>{{'person.name' | translate}}: </label>
      <span [ngClass]="{'woman': person.gender === 1, 'men': person.gender === 2, 'unknown': person.gender === 0}">{{person.name
        | capitalizeWord}}</span>
      <div *ngIf="person.birthPlace">
        <label>{{'person.birthplace' | translate}}: </label>{{person.birthPlace | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday">
        <label>{{'person.birth' | translate}}: </label>{{person.birthday | date:'dd MMMM yyyy':'':translate.currentLang
        | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday | substractDate:person.deathday as age">
        <label>{{'person.age' | translate}}: </label>{{age}}
      </div>
      <div *ngIf="person.deathday">
        <label>{{'person.death' | translate}}: </label>{{person.deathday | date:'dd MMMM yyyy':'':translate.currentLang
        | capitalizeWord}}
      </div>
      <button type="button" class="btn btn-outline-primary block" (click)="isImagesVisible = !isImagesVisible" *ngIf="person.images && person.images.length > 0">
        <fa-icon [icon]="faImage"></fa-icon>{{'global.show' | translate}} {{'person.image' | translate}}
      </button>
      <div *ngIf="person.biography">
        <label>{{'person.bio' | translate}}: </label>
        <div class="biography">{{person.biography}}</div>
      </div>
    </div>
    <app-meta [entry]="person" [sites]="[DuckDuckGo.SEARCH_BANG_METACRITIC, DuckDuckGo.SEARCH_BANG_SENSCRITIQUE, DuckDuckGo.SEARCH_BANG_WIKI_EN, DuckDuckGo.SEARCH_BANG_WIKI_FR]"></app-meta>
    <figure>
      <label style="display: flex">{{'person.films' | translate}}:</label>
      <app-list-movies [movies]="person.asActor" [label]="('movie-list.actor' | translate).concat(':')"></app-list-movies>
      <app-list-movies [movies]="person.asDirector" [label]="('movie-list.director' | translate).concat(':')"></app-list-movies>
      <app-list-movies [movies]="person.asProducer" [label]="('movie-list.producer' | translate).concat(':')"></app-list-movies>
      <app-list-movies [movies]="person.asCompositors" [label]="('movie-list.composer' | translate).concat(':')"></app-list-movies>
      <app-list-movies [movies]="person.asScreenplay" [label]="('movie-list.screenwriter' | translate).concat(':')"></app-list-movies>
      <app-list-movies [movies]="person.asNovel" [label]="('movie-list.novelist' | translate).concat(':')"></app-list-movies>
    </figure>
  </div>
</div>
