<div class="profile-content" *ngIf="user">
  <h2>{{ 'login.profile.title' | translate }}:</h2>
  <div>
    <label>{{ 'global.id' | translate }}:</label>{{ user.id }}
  </div>
  <div>
    <label>{{ 'global.username' | translate }}:</label>{{ user.name }}
  </div>
  <div>
    <label>{{ 'login.question' | translate }}:</label>{{ user.question }}
  </div>
  <div class="lang">
    <label>{{ 'login.lang' | translate }}: </label>
    <app-dropdown-language
      (lang)="user.lang = $event"
      [userLang]="user.lang"
    ></app-dropdown-language>
    <button
      type="button"
      class="btn btn-outline-primary"
      (click)="updateUser()"
    >
      {{ 'login.profile.change_language' | translate }}
    </button>
  </div>
  <div>
    <label>{{ 'login.profile.adult' | translate }}:</label>
    <mat-slide-toggle
      (change)="updateUser()"
      [(ngModel)]="user.adult"
    ></mat-slide-toggle>
  </div>
  <div class="profile-footer">
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/login/changePassword"
    >
      {{ 'login.profile.change_password' | translate }}
    </button>
    <button
      type="button"
      class="btn btn-outline-primary"
      routerLink="/login/changeQuestion"
    >
      {{ 'login.profile.change_question' | translate }}
    </button>
  </div>
</div>
