<div class="profile-content" *ngIf="user">
  <h2>{{'login.profile.title'|translate}}:</h2>
  <div>
    <label>{{'global.id'|translate}}:</label>{{user.id}}</div>
  <div>
    <label>{{'login.name'|translate}}:</label>{{user.name}}</div>
  <div>
    <label>{{'login.question'|translate}}:</label>{{user.question}}</div>
  <div class="profile-footer">
    <button type="button" class="btn btn-outline-primary" routerLink="/login/changePassword">
      {{'login.profile.change_password'|translate}}
    </button>
    <button type="button" class="btn btn-outline-primary" routerLink="/login/changeQuestion">
      {{'login.profile.change_question'|translate}}
    </button>
  </div>
</div>
