@import "../../../styles/styles";

:host {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;
}

.profile-footer {
  display: inherit;

  & button {
    margin: 5px;
  }
}
