@import "../../../styles/styles";

:host {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;

  & button {
    margin: 5px;
  }
}

.lang {
  display: flex;
  padding-bottom: 0.5em;

  & > * {
    margin: 5px;
  }
}

.profile-footer {
  display: inherit;
}
