@import "../../../../styles/styles";

:host > nav {
  flex-direction: column;
  width: min-content;

  & > a {
    border: 1px solid $blue;
    border-radius: 8px !important;

    &:hover {
      color: $true_white;
      background-color: $blue;
    }
  }
}

@include media(#{$smallscreen}) {
  .nav-link {
    padding: 0.2rem 0.2rem !important;
    font-size: 0.8em !important;

    & .mobile {
      line-height: 0;
    }
  }
}
