@import "./styles/styles";

:host nav {
  display: inline-flex;
  flex-wrap: wrap;

  & > * {
    margin: 0 2px 0 2px;
  }
}

.header {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

@include media(#{$smallscreen}) {
  .dropdown-menu {
    transform: translate3d(-162px, 0, 0);
  }
}
