<br />
<div>
	<label>Movie name:</label> <input #movieName />
	<button (click)="add(movieName.value); movieName.value=''">Add</button>
</div>
<h2>My movies:</h2>
<ul class="movies">
	<li *ngFor="let movie of movies" (click)="onSelect(movie)" [class.selected]="movie === selectedMovie"><span class="badge">{{movie.id}}</span> <span>{{movie.title}}</span>
		<button class="delete" (click)="delete(movie); $event.stopPropagation()">x</button></li>
</ul>
<div *ngIf="selectedMovie">
	<h2>{{selectedMovie.title | uppercase}} is my movie</h2>
	<h3>Release year: {{selectedMovie.year}}</h3>
	<button (click)="gotoDetail()">View Details</button>
</div>