<div *ngIf="movie">
	<h2>D&eacute;tails de {{movie.title}} : </h2>
	<div>
		<a class="affiche" href="{{movie.affiche}}" target="_blank"> 
		<img *ngIf="movie.affiche" src="{{movie.thumbnail}}">
		</a>
	</div>
	<div class="contenu">
		<div>
			<label>Id: </label>{{movie.id}}
		</div>
		<div>
			<label>Title: </label>{{movie.title | titlecase}}
			<div>
				<label>Date: </label>{{movie.date | date : "dd/MM/yyyy"}}
			</div>
			<div *ngIf="movie.synopsis">
				<label>Synopsis: </label>
				<div class="synopsis">{{movie.synopsis}}</div>
			</div>
			<div *ngIf="movie.actors.length > 0">
				<label>Acteurs: </label>
				<div>
					<span *ngFor="let actor of movie.actors; let last=last;">
						{{actor.name| titlecase}}<span *ngIf="!last">,</span>
					</span>
				</div>
			</div>
            <div *ngIf="movie.time > 0"><label>Dur&eacute;e: </label>{{movie.time | convertToHHmm}}</div>
			<div *ngIf="movie.videos.length > 0">
                <label>Vid&eacute;o(s): </label>
				<ul class="videos">
					<li *ngFor="let video of movie.videos">
					   <a href="https://www.youtube.com/watch?v={{video.key}}" class="badge" target="_blank">{{video.name | titlecase}}</a>
					</li>
				</ul>
			</div>
		</div>
		<button (click)="goBack()">Back</button>
		<button (click)="save()">Save</button>
	</div>
</div>