<div *ngIf="person">
	<h2>D&eacute;tails de {{person.name}} :</h2>
	<div>
		<a class="profile" href="{{person.profile}}" target="_blank"> <img
			src="{{person.thumbnail}}">
		</a>
	</div>
	<div class="contenu">
		<div>
			<label>Id:</label>{{person.id}}
		</div>
		<div>
			<label>Nom: </label>{{person.name | capitalizeWord}}
			<div>
				<label class="label">Naissance: </label>{{person.birthday | date:'dd MMMM yyyy' |
				capitalizeWord}}
			</div>
			<div *ngIf="person.deathday">
				<label class="label">Mort: </label>{{person.deathday | date:'dd MMMM yyyy' |
				capitalizeWord}}
			</div>
			<div *ngIf="person.biography">
				<label class="label">Biographie: </label><div class="biography">{{person.biography}}</div>
			</div>
		</div>
        <div *ngIf="person.moviesCast.length > 0" class="labelLong">Films notables:</div>
        <div *ngIf="person.moviesCast.length > 0" class="reco">
            <a *ngFor="let movie of person.moviesCast;" class="affiche"
                [routerLink]="['/detail', movie.id]" data-toggle="tooltip"
                title="{{movie.title | capitalizeWord}}"> <img
                src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
        </div>
	</div>
	<div class="btn">
		<button (click)="goBack()">Back</button>
	</div>
</div>