<br />
<ngb-datepicker #dp [(ngModel)]="model" (navigate)="date = $event.next" (ngModelChange)="getMoviesByReleaseDates()"></ngb-datepicker>
<!--  ngDefaultControl -->
<hr/>
<button class="btn btn-sm btn-outline-primary" (click)="selectToday()">Select Today</button>
<button class="btn btn-sm btn-outline-primary" (click)="dp.navigateTo({year: 2013, month: 2})">To Feb 2013</button>
<button class="btn btn-sm btn-outline-primary" (click)="getMoviesByReleaseDates()">Update</button>
<hr/>
<div>Films sortis du {{monday | date : "dd/MM/yyyy"}} au {{sunday | date : "dd/MM/yyyy"}}:</div>
<div class="list-group" style="width: 40%;">
    <a *ngFor="let movie of movies" (click)="onSelect(movie)" [class.active]="movie === selectedMovie" 
        class="list-group-item list-group-item-action">
        <span>{{movie.title.slice(0,40) | capitalizeWord}}</span>
    </a>
</div>
<hr/>
<div *ngIf="selectedMovie">
	<h2>{{selectedMovie.title | capitalizeWord}}</h2>
	<h3>Release year: {{selectedMovie.date | date : "dd/MM/yyyy"}}</h3>
	<button (click)="gotoDetail()">View Details</button>
</div>