@import "../../../styles/styles";

.movie-header {
  flex: 1 100%;

  & .movie-title {
    font-weight: 550;
  }

  & .movie-btn {
    display: flex;
    justify-content: center;
  }
}

label {
  display: inline !important;
}

.movie-content {
  &,
  & > * {
    padding: 0 5px;
  }
}

.movie-meta {
  float: left;
  margin: 20px 10px 0 20px;
}

.movie-score {
  position: relative;
  float: right;
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable selector-type-no-unknown */
.movie-poster ::ng-deep pinch-zoom {
  height: auto !important;
  margin: 20px !important;
}

.gallery-top {
  height: 80% !important;
}

.gallery-thumbs {
  & .swiper-slide {
    box-sizing: border-box;
    width: 25% !important;
    padding: 10px 0;
    overflow: hidden !important;
    opacity: 0.4;
  }

  & img {
    height: auto;
    width: auto;
    max-width: 20vw;
  }

  & .swiper-slide-active {
    opacity: 1;
  }
}

.videos {
  width: 30em;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;

  & li {
    position: relative;
    left: 0;
    width: 100%;
    height: 1.6em;
    margin: 0.5em;
    padding: 0.3em 0;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      left: 0.1em;
      color: $blue_hover !important;
    }
  }

  & .text {
    position: relative;
    top: -3px;
  }

  & .badge {
    position: relative;
    left: -1px;
    top: -4px;
    display: inline-block;
    height: 1.8em;
    margin-right: 0.8em;
    font-size: small;
    line-height: 1em;
    text-align: center;
    background-color: $light_blue;
    border-radius: 4px 4px 4px 4px;
  }
}

.alternative-btn {
  padding: 0 7px;
}

.mat-table {
  width: min-content;
}

.mat-cell,
.mat-header-cell {
  justify-content: center;
  overflow: visible !important;

  &:first-of-type {
    padding: 10px !important;
  }

  &:last-of-type {
    padding-right: 15px !important;
  }
}

@include media(#{$desktop}, false) {
  .movie-title {
    font-size: 3em;
  }

  label,
  .pad-left {
    margin-left: 20px !important;
  }

  label ~ div {
    display: inline;

    & > span {
      display: table-cell;
    }
  }
}

@include media(#{$smallscreen}) {
  .movie-title {
    font-size: 1.5em;
  }

  .synopsis {
    width: 95vw !important;
  }

  .videos {
    @include full_width;

    & li {
      width: 90vw;
      margin-bottom: 1em;
    }

    & .badge {
      height: auto;
      white-space: normal;
    }
  }
}

@include media(#{$big_screen}, false) {
  .movie-score {
    width: 25vw;
  }
}
