@import "../../../styles/styles";

.movie-header {
  flex: 1 100%;

  & .movie-title {
    font-weight: 550;
  }

  & .movie-btn {
    display: flex;
    justify-content: center;
  }
}

label {
  display: inline !important;
}

.movie-content {
  &,
  & > * {
    padding: 0 5px;
  }
}

.movie-meta {
  float: left;
  margin: 20px 10px 0 20px;
}

.movie-score {
  position: relative;
  float: right;

  .mat-cell,
  .mat-header-cell {
    justify-content: center;
    overflow: visible !important;

    &:first-of-type {
      padding: 10px !important;
    }

    &:last-of-type {
      padding-right: 15px !important;
    }
  }

  .mat-row {
    min-height: 0;
  }
}

.media-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable selector-type-no-unknown */
.movie-poster ::ng-deep.frame-viewer {
  height: 100% !important;
  margin: 20px !important;
}

.gallery-top {
  height: 80% !important;
}

.gallery-thumbs {
  & .swiper-slide {
    box-sizing: border-box;
    width: 25% !important;
    padding: 10px 0;
    overflow: hidden !important;
    opacity: 0.4;
  }

  & img {
    height: auto;
    width: auto;
    max-width: 20vw;
  }

  & .swiper-slide-active {
    opacity: 1;
  }
}

.alternative-btn {
  padding: 0 7px;
}

.mat-table {
  width: min-content;
}

.break-word {
  word-break: break-word;
}

.movie-release {
  display: inline-flex;
  flex-direction: column;
}

@include media(#{$desktop}, false) {
  .movie-title {
    font-size: 3em;
  }

  label,
  .pad-left {
    margin-left: 20px !important;
  }

  label ~ div {
    display: inline;

    & > span:not(.movie-keyword) {
      display: table-cell;
    }
  }

  .movie-langs,
  .movie-tags {
    display: flex !important;
  }
}

@include media(#{$smallscreen}) {
  .movie-title {
    font-size: 1.5em;
  }

  .synopsis {
    width: 95vw !important;
  }

  .movie-genre,
  .movie-release {
    display: flex;
    flex-wrap: wrap;
  }
}

@include media(#{$big_screen}, false) {
  .movie-score {
    width: 25vw;
  }
}
