@import "../../../styles/styles";

input {
  height: 2em;
  padding-left: 0.4em;
  font-size: 1em;
}

.synopsis {
  width: 70%;
}

.contenu {
  display: table;
  margin-left: 180px;
}

#btn {
  margin-bottom: 10px;
  margin-top: 10px;
}

.videos {
  width: 30em;
  margin: 10px 0 0 0;
  padding: 0;
  list-style-type: none;
}

.videos li {
  position: relative;
  left: 0;
  height: 1.6em;
  margin: 0.5em;
  padding: 0.3em 0;
  border-radius: 4px;
  cursor: pointer;
}

.videos li:hover {
  left: 0.1em;
  color: $blue_hover !important;
}

.videos .text {
  position: relative;
  top: -3px;
}

.videos .badge {
  position: relative;
  left: -1px;
  top: -4px;
  display: inline-block;
  width: 100%;
  height: 1.8em;
  margin-right: 0.8em;
  font-size: small;
  line-height: 1em;
  text-align: center;
  background-color: $light_blue;
  border-radius: 4px 4px 4px 4px;
}

@media all and (max-width: #{$smallscreen}) {
  .videos {
    width: 100vw !important;
  }
}
