<div *ngIf="movie">
  <h2>{{'movie.header' | translate}} {{movie.title}}:</h2>
  <div>
    <a class="frame" href="{{movie.affiche}}" target="_blank">
      <img src="{{movie.thumbnail}}">
    </a>
  </div>
  <div class="contenu">
    <button class="btn btn-outline-primary" (click)="goBack()">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> {{'global.previous' | translate}}</button>
    <button class="btn btn-outline-primary" appAddCollection [movies]="[movie]">
      <span class="fa fa-save" aria-hidden="true"></span> {{'global.add_collection' | translate}}
    </button>
    <div>
      <label>{{'movie.id' | translate}}:</label>{{movie.id}}
    </div>
    <div>
      <label>{{'movie.title' | translate}}: </label>{{movie.title | capitalizeWord}}
      <div>
        <label>{{'global.original_title' | translate}}: </label>{{movie.original_title | capitalizeWord}}
      </div>
      <div>
        <label>{{'movie.country' | translate}}: </label>
        <span *ngFor="let country of movie.production_countries">
          <h1 class="flag-icon flag-icon-{{country.iso_3166_1 | lowercase}}" ngbTooltip="{{country.name}}"></h1>
        </span>
      </div>
      <div>
        <label>{{'movie.date' | translate}}: </label>{{movie.date | date:'EEEE dd MMMM yyyy':'':translate.currentLang | capitalizeWord}}
      </div>
      <div *ngIf="movie.time > 0">
        <label>{{'movie.length' | translate}}: </label>{{movie.time | convertToHHmm}}
      </div>
      <div *ngIf="movie.genres.length > 0">
        <label>{{'movie.genres' | translate}}: </label>
        <div class="block">
          <span *ngFor="let genre of movie.genres; let last=last;">
            <span>{{genre| capitalizeWord}}</span>
            <span *ngIf="!last">/</span>
          </span>
        </div>
      </div>
      <div *ngIf="movie.synopsis">
        <label>{{'movie.synopsis' | translate}}: </label>
        <div class="synopsis">{{movie.synopsis}}</div>
      </div>
      <!-- Images du film -->
      <div *ngIf="movie.images.length > 0">
        <label>{{'movie.image' | translate}}: </label>
        <button type="button" class="btn btn-outline-primary" (click)="isImagesCollapsed = !isImagesCollapsed">
          <i class="fa fa-plus-square" aria-hidden="true" [ngClass]="{'display-none' : isImagesCollapsed}"></i>
          <i class="fa fa-minus-square" aria-hidden="true" [ngClass]="{'display-none' : !isImagesCollapsed}"></i>
          <span *ngIf="!isImagesCollapsed">{{'global.show' | translate}}</span>
          <span *ngIf="isImagesCollapsed">{{'global.hide' | translate}}</span>
        </button>
        <div *ngIf="isImagesCollapsed">
          <div class="card">
            <div class="card-body">
              <div class="reco">
                <a *ngFor="let ima of movie.images;" class="frame" href="{{Url.IMAGE_URL_ORIGINAL.concat(ima)}}" target="_blank">
                  <img src="{{Url.IMAGE_URL_154.concat(ima)}}">
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <app-list-persons [persons]="movie.actors" [label]="'person-list.actors' | translate"></app-list-persons>
      <div *ngIf="movie.crew.length > 0">
        <div *ngIf="(movie.crew | filterCrew:'director') as director">
          <app-list-persons [persons]="director" [label]="'person-list.directors' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'producer') as producer">
          <app-list-persons [persons]="producer" [label]="'person-list.producers' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'Original Music Composer') as composer">
          <app-list-persons [persons]="composer" [label]="'person-list.composers' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'Compositors') as compositors">
          <app-list-persons [persons]="compositors" [label]="'person-list.composers' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'screenplay') as screenplay">
          <app-list-persons [persons]="screenplay" [label]="'person-list.screenwriters' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'writer') as screenplay">
          <app-list-persons [persons]="screenplay" [label]="'person-list.screenwriters' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'novel') as novel">
          <app-list-persons [persons]="novel" [label]="'person-list.novelists' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'cameo') as cameo">
          <app-list-persons [persons]="cameo" [label]="'person-list.cameos' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'special Guest') as guest">
          <app-list-persons [persons]="guest" [label]="'person-list.guests' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'songs') as songs">
          <app-list-persons [persons]="songs" [label]="'person-list.song' | translate"></app-list-persons>
        </div>
        <div *ngIf="(movie.crew | filterCrew:'music') as music">
          <app-list-persons [persons]="music" [label]="'person-list.music' | translate"></app-list-persons>
        </div>
      </div>
      <div *ngIf="movie.budget > 0">
        <label>{{'movie.budget' | translate}}: </label>{{movie.budget | currency:'USD':'':'1.0-0':translate.currentLang}}
      </div>
      <div *ngIf="movie.recette > 0">
        <label>{{'movie.revenu' | translate}}: </label>{{movie.recette | currency:'USD':'':'1.0-0':translate.currentLang}}
      </div>
      <div *ngIf="movie.note > 0">
        <label>{{'movie.rating' | translate}}: </label>{{movie.note}} / 10
        <rating [(ngModel)]="movie.note" [max]="10" [readonly]="true" [float]="true"></rating>
      </div>
      <app-meta [entry]="movie" [sites]="[Url.SEARCH_BANG_METACRITIC, Url.SEARCH_BANG_SENSCRITIQUE, Url.SEARCH_BANG_WIKI_EN, Url.SEARCH_BANG_WIKI_FR, Url.SEARCH_BANG_IMDB]"></app-meta>
      <div *ngIf="movie.videos.length > 0">
        <label>{{'movie.video' | translate}}:</label>
        <ul class="videos">
          <li *ngFor="let video of movie.videos">
            <a href="https://www.youtube.com/watch?v={{video.key}}" class="badge" target="_blank">{{video.name | capitalizeWord}}</a>
          </li>
        </ul>
      </div>
      <ul class="movies">
        <li>
          <app-list-movies [movies]="movie.recommendations" [label]="('movie.reco' | translate).concat(':')"></app-list-movies>
        </li>
      </ul>
    </div>
  </div>
