@import "../../../styles/styles";

/* stylelint-disable selector-type-no-unknown */
pinch-zoom {
  width: auto;
  height: 100%;
}

.expand {
  position: absolute;
  top: 80px;
  right: 28px;
  z-index: 1;
  padding: 0.4em 0.7em;
  font-size: 22px;
  border-radius: 60px;
  color: $blue;
  background-color: $blue_hover;
  box-shadow: 0 0 4px $blue;
  animation: fade 0.6s both $bezier;

  &:hover {
    cursor: pointer;
    opacity: 0.5;
  }
}

.frame-viewer {
  float: left;
  height: 250px;
  margin: 0 20px 10px 15px;
  border: 3px solid $black;
  @include box-shadow;

  &:hover::after {
    content: '';
    position: absolute;
    pointer-events: none;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}

.fullscreen {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-top {
  height: 80% !important;
}

.gallery-thumbs {
  height: 20% !important;

  & .swiper-slide {
    box-sizing: border-box;
    width: 25% !important;
    padding: 10px 0;
    overflow: hidden !important;
    opacity: 0.4;
  }

  & img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  & .swiper-slide-active {
    opacity: 1;
  }
}

@include media(#{$smallscreen}) {
  .expand {
    right: 10px;
    font-size: 17px;
    top: 70px;
  }
}
