<div class="gallery-top">
  <swiper [config]="config" [(index)]="indexTop" #galleryTop>
    <div *ngFor="let img of images">
      <pinch-zoom>
        <img src="{{img}}">
      </pinch-zoom>
    </div>
  </swiper>
  <button type="button" class="btn btn-outline-primary nav-btn prev" (click)="prev()">PREV</button>
  <button type="button" class="btn btn-outline-primary nav-btn next" (click)="next()">NEXT</button>
</div>
<div class="gallery-top" class="gallery-thumbs">
  <swiper [config]="thumbs" [(index)]="indexThumb" #galleryThumbs>
    <div *ngFor="let img2 of images">
      <img src="{{img2}}">
    </div>
  </swiper>
</div>
