@import "../../../styles/styles";

/* stylelint-disable selector-type-no-unknown */
pinch-zoom {
  width: auto;
  height: 100%;
}

.expandSwiper {
  position: absolute;
  bottom: 30px;
  right: 30px;
  padding: 0.4em 0.6em;
  font-size: 26px;
  border-radius: 60px;
  box-shadow: 0 0 4px $blue;
  animation: fade 0.6s both $bezier;

  &:hover {
    cursor: pointer;
  }
}

.expand {
  position: relative;
  top: 15px;
  left: calc(100% - 55px);
  padding: 0.4em 0.6em;
  font-size: 26px;
  border-radius: 60px;
  box-shadow: 0 0 4px $black;
  animation: fade 0.6s both $bezier;

  &:hover {
    cursor: pointer;
  }
}

.fullscreen {
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  & img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}

.gallery-top {
  height: 80% !important;
}

.gallery-thumbs {
  height: 20% !important;

  & .swiper-slide {
    box-sizing: border-box;
    width: 25% !important;
    padding: 10px 0;
    overflow: hidden !important;
    opacity: 0.4;
  }

  & img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }

  & .swiper-slide-active {
    opacity: 1;
  }
}
