<ng-container *ngIf="visible">
  <!-- Modal for fullscreen -->
  <app-modal [visible]="isFullscreen" (update)="closeFullscreen($event)" [closeBtn]="closeBtn">
    <pinch-zoom>
      <img src="{{fullScreenImg | image:imageSize.full}}" class="fullscreen">
    </pinch-zoom>
  </app-modal>
  <!-- Swiper for gallery of images -->
  <ng-container *ngIf="!isOnePicture && !isFullscreen">
    <!-- Full size gallery -->
    <div class="gallery-top">
      <swiper [config]="config" [(index)]="index">
        <div *ngFor="let img of images">
          <pinch-zoom [zoom-button]="false">
            <img src="{{img | image:imageSize.full}}">
          </pinch-zoom>
        </div>
      </swiper>
      <span (click)="fullscreen()" class="expand">
        <fa-icon [icon]="faExpand"></fa-icon>
      </span>
    </div>
    <!-- Thumbnails gallery -->
    <div class="gallery-thumbs">
      <swiper [config]="thumbs" [(index)]="index">
        <div *ngFor="let thumb of thumbnails">
          <img src="{{thumb | image:imageSize.medium}}">
        </div>
      </swiper>
    </div>
  </ng-container>
  <!-- One picture display -->
  <ng-container *ngIf="isOnePicture">
    <pinch-zoom [zoom-button]="false" class="frame-viewer pointer">
      <img src="{{thumbnails | image:imageSize.medium}}" (click)="fullscreen(images)">
    </pinch-zoom>
  </ng-container>
</ng-container>