@import "../../../../styles/styles";
/* stylelint-disable selector-pseudo-element-no-unknown */
/* stylelint-disable selector-type-no-unknown */

/* THIS MAKES THE HEADER STICKY */
.mat-header-row,
.paginator {
  position: sticky;
  position: -webkit-sticky;
  z-index: 99;
  background: rgba(255, 255, 255, 1);
}

.mat-header-row {
  top: 64px;
}

.paginator {
  top: 0;
}

.paginator,
.filters,
.tags-search {
  display: flex !important;
  justify-content: center;
}

.delete-btn .btn {
  display: flex;
  justify-content: center;
  margin: auto;
}

::ng-deep.mat-paginator-container {
  justify-content: center !important;
}

.mat-row:hover {
  background-color: $gray_hover !important;
}

.mat-row > td {
  padding: 0 !important;
}

mat-row {
  min-height: 0 !important;
}

.mat-header-cell .mat-icon {
  display: none;
}

.mat-column-select > * {
  padding-left: 25%;
}

.data-poster {
  height: 100px;
  margin: 10px 0;
  box-shadow: 1px 1px 10px #000;
}

.btn-detail {
  & .btn-text {
    display: none;
  }
}

.filter-item {
  display: flex;
  flex-direction: row;
}

.clear-btn {
  display: flex;
  align-items: center;
}

.ng2-nouislider {
  width: 80vw;
  margin: auto;
  padding-top: 2em;
}

.tag-row td.mat-cell {
  border-bottom-style: unset !important;
}

.tag-detail {
  display: flex;
  margin: auto;
  overflow: hidden;
}

.tag-color {
  margin: 0 5px;
}

.data-row {
  border-bottom-width: 0;
}

.tag-icon {
  display: none;

  .data-row:hover & {
    position: absolute;
    left: 50%;
    display: flex;
    align-self: end;
    flex-grow: 0;
    margin-bottom: -5px;
    animation: 1s bounce;

    & ::ng-deep.fa-angle-down {
      color: $blue;
    }
  }
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }

  40% {
    transform: translateY(-20px);
  }

  60% {
    transform: translateY(-10px);
  }
}

.tags-header {
  display: flex;
  align-items: center;
  margin: 0 !important;
  padding: 0 5px;
}

@include media('1000px', false) {
  .data-poster {
    margin: 10px;
  }
}

@include media('1000px') {
  .mat-cell {
    &:first-of-type {
      justify-content: center;
      padding: 0 5px !important;
    }

    &:last-of-type {
      padding-right: 0 !important;
    }
  }

  .data-poster {
    height: 85px;
  }
}

@include media(#{$smallscreen}) {
  /* Mobile landscape */
  .mat-table {
    hyphens: auto;
  }

  .mat-header-row {
    top: 67px;
  }

  .mat-header-cell .mat-text {
    display: none;
  }

  .mat-header-cell .mat-icon {
    display: block;
  }

  .filters {
    display: flex;
    flex-direction: column;

    & ::ng-deep.mat-form-field-flex {
      flex-direction: row;
    }

    & .filter-item .mat-form-field {
      width: 90vw;
      margin: auto;
    }

    .clear-btn {
      margin: auto;
    }
  }

  .data-poster {
    height: 15vw;
    box-shadow: 2px 5px 9px #000;
  }
}

@include media('500px') {
  /* Mobile portait */
  .mat-cell:first-of-type {
    padding: 10px !important;
  }

  .data-poster {
    display: flex;
    justify-content: center;
    height: 25vw;
    min-height: 100px;
    box-shadow: 3px 3px 8px #000;
  }

  /* Reshape table */
  .mat-row:hover {
    background-color: inherit !important;
  }

  mat-row::after {
    display: initial !important;
  }

  mat-cell {
    /* Behave  like a "row" */
    position: relative !important;
    min-height: 0;
    border: none !important;

    &:first-of-type {
      float: left;
    }

    &.toto {
      height: 32px;
    }

    &:not(:first-of-type) {
      margin: auto;

      & > .cell-content {
        position: absolute;
        right: -15vw;
        bottom: 6%;
        width: 100vw;
      }
    }

    &:last-of-type {
      padding-bottom: 5px;
      padding-right: 0 !important;
    }

    &::before {
      /* Now like a table header */
      position: absolute !important;
      top: 6px !important;
      left: 6px !important;
      width: 45% !important;
      padding-right: 10px !important;
      white-space: nowrap !important;
    }
  }

  mat-table,
  mat-row,
  mat-cell:not(.tag-icon) {
    display: block !important;
    text-align: center;
  }

  .clear-btn {
    margin: auto;
  }

  .mat-column-select > * {
    padding-left: 0;
  }

  .btn-detail {
    & .btn-icon {
      display: none;
    }

    & .btn-text {
      display: inherit;
    }
  }
}
