@import "../../../../styles/styles";
/* stylelint-disable selector-pseudo-element-no-unknown */

.mat-header-row {
  top: 64px;
}

.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

.tags-add,
.tags-filter,
.delete-btn {
  display: flex;
  justify-content: center;

  & form,
  & .tags-btn,
  & .clear-btn,
  & .btn {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}

::ng-deep.mat-paginator-container {
  justify-content: center !important;
  width: 100vw !important;
}

.mat-row:hover {
  background-color: $gray_hover !important;
}

.mat-header-cell .mat-icon {
  display: none;
}

.mat-column-select > * {
  padding-left: 25%;
}
