<ng-container *ngIf="lists">
  <div class="wrapper">
    <swiper [config]="swiperConfig">
      <div *ngFor="let list of lists">
        <div class="list-slide">
          <img class="list-poster" [src]="list.poster_path | image:'small'" (click)="setOverview(list)"
            [ngClass]="{'pointer': list.overview}" />
          <p>{{list.name}} ({{list.item_count}})
            <p>{{description}}
              <button class="btn btn-outline-primary small-btn" (click)="goToSeasonDetail(list.listNumber)">
                <fa-icon [icon]="faChevronCircleRight" size="xs"></fa-icon>
              </button></p>
        </div>
      </div>
    </swiper>
  </div>
  <ng-container *ngIf="overview">{{overview}}</ng-container>
</ng-container>