@import "../../styles/styles";

.res {
  padding-left: 36px;
}

.adult {
  background-color: $pink;
}

h4 {
  text-align: center;
}

.form-check-inline {
  display: ruby !important;
}

@media all and (max-width: #{$smallscreen}) {
  :host,
  .search-box {
    width: 100vw !important;
    max-width: 100vw !important;
    margin-left: 0 !important;
  }

  .form-check-inline {
    margin-right: 0 !important;
  }

  .icon {
    display: none;
  }
}
