<ng-container *ngIf="isLogged$ | async">
  <mat-toolbar class="toolbar" *ngIf="visible">
    <button class="btn" (click)="sidenav.toggle()">
      <fa-icon [icon]="faBars"></fa-icon>
    </button>
    <div class="search-boxes">
      <app-movie-search></app-movie-search>
      <app-person-search></app-person-search>
    </div>
  </mat-toolbar>
</ng-container>

<mat-sidenav-container hasBackdrop="false" fullscreen>
  <mat-sidenav #sidenav fixedInViewport="true" [disableClose]="false" autoFocus="false" [mode]="mobileQuery.matches ? 'over' : 'push'"
    *ngIf="isLogged$ | async">
    <mat-nav-list class="nav-list">
      <a mat-list-item appOpenLink url="/dashboard" label="nav_bar.dashboard">
        <fa-icon [icon]="faHome"></fa-icon>
        {{'nav_bar.dashboard'|translate}}
      </a>
      <a mat-list-item appOpenLink url="login/profile" label="nav_bar.profile">
        <fa-icon [icon]="faUser"></fa-icon>
        {{'nav_bar.profile'| translate}} ({{user?.name}})
      </a>
      <a mat-list-item appOpenLink url="/movies" label="nav_bar.movies">
        <fa-icon [icon]="faBookmark"></fa-icon>
        {{'nav_bar.movies'|translate}}
      </a>
      <a mat-list-item appOpenLink url="/release" label="nav_bar.release">
        <fa-icon [icon]="faBoxOpen"></fa-icon>
        {{'nav_bar.release'|translate}}
      </a>
      <a mat-list-item appOpenLink url="/discover" label="nav_bar.discover">
        <fa-icon [icon]="faAtom"></fa-icon>
        {{'nav_bar.discover'|translate}}
      </a>
      <a mat-list-item (click)="logout()">
        <fa-icon [icon]="faPowerOff"></fa-icon>
        {{'nav_bar.logout' | translate}}
      </a>
      <app-dropdown-language [userLang]="user?.lang"></app-dropdown-language>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content #content>
    <app-tabs>
      <ng-content></ng-content>
    </app-tabs>
    <app-go-to-top></app-go-to-top>
  </mat-sidenav-content>
</mat-sidenav-container>
