@import "../../../styles/styles";

.nav-list {
  display: inline-flex;
  flex-direction: column;
  height: 95%;
  overflow-y: visible;
  overflow-x: hidden;

  & > * {
    margin: 0 2px 0 2px;
  }

  & .btn {
    padding: 10px;
  }

  & .ng-fa-icon {
    margin-right: 6px;
  }
}

.toolbar {
  position: fixed;
  z-index: map-get($depth, 'toolbar');
  display: flex;
  flex-direction: row;

  & .search-boxes {
    display: inline-flex;
    padding-left: 5vw;

    &,
    & > * {
      @include width_100percent;
    }
  }
}

/* stylelint-disable selector-type-no-unknown */
mat-toolbar {
  height: auto !important;
  background-color: $light_blue;
}

app-dropdown-language {
  display: flex;
  justify-content: center;
}

.mat-drawer-container {
  background-color: #fff !important;
}

@include media(#{$smallscreen}) {
  :host .nav-list {
    & > * {
      margin: 0;
    }
  }

  .toolbar {
    & .search-boxes {
      display: initial;
    }
  }

  .header-buttons {
    padding: 10px 0 0 0;
  }
}
