@import "../../../../styles/styles";

#example {
  width: 99% !important;
}

.mat-header-row { //THIS MAKES THE HEADER STICKY
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  background: rgba(255, 255, 255, 1);
}

.mat-row:hover {
  background-color: $gray_hover !important;
}

.posterDT {
  width: 20%;
  padding: 2px;

  &:hover {
    width: 100%;
  }
}

.mat-header-cell .mat-icon {
  display: none;
}

@include media('900px') {
  .mat-header-cell .mat-text {
    display: none;
  }

  .mat-header-cell .mat-icon {
    display: block;
  }

  .posterDT {
    width: 60%;
  }
}
