<h2>{{'movies.header' | translate}}:</h2>

<ng-container *ngIf="movies">
  <div class="filters">
    <!-- Input Filter -->
    <mat-form-field>
      <input matInput type="search" placeholder="{{'movies.filter.placeholder' | translate}}" [(ngModel)]="filter" (keyup)="paginator.firstPage(); onSearch();"
      />
      <button mat-button *ngIf="filter" matSuffix mat-icon-button (click)="filter=''; onSearch();">
        <span class="fa fa-close"></span>
      </button>
    </mat-form-field>
    <!-- Genres Filter -->
    <mat-form-field>
      <mat-select #select placeholder="{{'movies.filter.genres' | translate}}" multiple (selectionChange)="paginator.firstPage(); onFilterGenres($event)">
        <mat-option *ngFor="let genre of genres" [value]="genre">{{genre}}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="paginator">
    <!-- Paginator -->
    <mat-paginator #paginator [length]="length" [pageIndex]="pageIndex" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
      (page)="page = $event; onPaginateChange();" [showFirstLastButtons]="true">
    </mat-paginator>
    <!-- Delete -->
    <button *ngIf="nbChecked > 0" class="btn btn-outline-primary" (click)="remove()">{{'movies.remove' | translate:{size: nbChecked} }}
      <i class="fa fa-trash" aria-hidden="true"></i>
    </button>
  </div>

  <!-- Table -->
  <mat-table #table [dataSource]="displayedData" (scroll)="onTableScroll($event)" (matSortChange)="paginator.firstPage(); sort = $event; onSort();"
    matSort>

    <!-- ID -->
    <ng-container matColumnDef="id">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.id'|translate }}</span>
        <span class="mat-icon fa fa-hashtag"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.id}}
      </mat-cell>
    </ng-container>

    <!-- POSTER -->
    <ng-container matColumnDef="thumbnail">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.poster'|translate }}</span>
        <span class="mat-icon fa fa-image"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        <img class="posterDT" src="{{movie.thumbnail}}" />
      </mat-cell>
    </ng-container>

    <!-- TITLE -->
    <ng-container matColumnDef="title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.title'|translate }}</span>
        <span class="mat-icon fa fa-film"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.title}}
      </mat-cell>
    </ng-container>

    <!-- VO TITLE -->
    <ng-container matColumnDef="original_title">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'global.original_title'|translate }}</span>
        <span class="mat-icon fa fa-flag"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.original_title}}
      </mat-cell>
    </ng-container>

    <!-- DATE -->
    <ng-container matColumnDef="date">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.date'|translate }}</span>
        <span class="mat-icon fa fa-calendar"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.date | date:'MM/yyyy'}}
      </mat-cell>
    </ng-container>

    <!-- NOTE -->
    <ng-container matColumnDef="note">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.rating'|translate }}</span>
        <span class="mat-icon fa fa-star"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.note}}
      </mat-cell>
    </ng-container>

    <!-- LANGUE -->
    <ng-container matColumnDef="language">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.language'|translate }}</span>
        <span class="mat-icon fa fa-globe"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.language | uppercase}}
      </mat-cell>
    </ng-container>

    <!-- GENRES -->
    <ng-container matColumnDef="genres">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.genres'|translate }}</span>
        <span class="mat-icon fa fa-list"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        <ng-container *ngFor="let genre of movie.genres; let last=last">
          {{genre}}
          <ng-container *ngIf="!last">/</ng-container>
        </ng-container>
      </mat-cell>
    </ng-container>

    <!-- TIME -->
    <ng-container matColumnDef="time">
      <mat-header-cell *matHeaderCellDef mat-sort-header>
        <span class="mat-text">{{ 'movies.length'|translate }}</span>
        <span class="mat-icon fa fa-clock-o"></span>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie">
        {{movie.time | convertToHHmm:'true'}}
      </mat-cell>
    </ng-container>

    <!-- Checkbox Column -->
    <ng-container matColumnDef="select">
      <mat-header-cell *matHeaderCellDef>
      </mat-header-cell>
      <mat-cell *matCellDef="let movie" (mousedown)="$event.stopPropagation()">
        <mat-checkbox (change)="movie.checked = !movie.checked; updateSize()" [checked]="movie.checked">
        </mat-checkbox>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;" (mousedown)="gotoDetail(row.id, $event)"></mat-row>
  </mat-table>
</ng-container>
