@import "../../../../styles/styles";

/* THIS MAKES THE HEADER STICKY */
.mat-header-row,
.paginator {
  position: sticky;
  position: -webkit-sticky;
  z-index: 99;
  background: rgba(255, 255, 255, 1);
}

.mat-header-row {
  top: 64px;
}

.paginator {
  top: 0;
}

.paginator,
.filters {
  display: flex !important;
  justify-content: center;
}

.mat-row:hover {
  background-color: $gray_hover !important;
}

.mat-header-cell .mat-icon {
  display: none;
}

.mat-column-select > * {
  padding-left: 25%;
}

.movie-poster {
  height: 100px;
  margin: 10px 0;

  /* stylelint-disable selector-pseudo-element-no-unknown */
  & ::ng-deep.frame-viewer {
    margin: 0;
    box-shadow: 5px 3px 10px #000;
  }
}

.btn-detail {
  & .btn-text {
    display: none;
  }
}

@include media(#{$smallscreen}) {
  /* Mobile landscape */
  .mat-table {
    hyphens: auto;
  }

  .mat-header-row {
    top: 67px;
  }

  .mat-header-cell .mat-text {
    display: none;
  }

  .mat-header-cell .mat-icon {
    display: block;
  }

  .filters {
    display: flex;

    & * {
      width: 50%;
      padding-right: 2px;
    }
  }

  .movie-poster {
    & ::ng-deep.frame-viewer {
      margin: 0;
      box-shadow: 2px 5px 9px #000;

      & > div {
        display: contents;
      }
    }
  }

  .mat-cell {
    &:first-of-type {
      padding: 10px !important;
    }

    &:last-of-type {
      padding-right: 0 !important;
    }
  }
}

@include media('400px') {
  /* Mobile portait */
  .movie-poster {
    display: flex;
    justify-content: center;
    height: 20vh;

    & ::ng-deep.frame-viewer {
      box-shadow: 3px 3px 8px #000;
    }
  }

  /* stylelint-disable */
  mat-paginator::ng-deep .mat-paginator-page-size {
    display: none !important;
  }

  /* Reshape table */
  .mat-row:hover {
    background-color: inherit !important;
  }

  mat-table,
  mat-row,
  mat-cell {
    display: block !important;
    text-align: center;
	}

	mat-row {
    border: 1px solid #ccc !important;

    &:after {
      display: initial !important;
    }
  }

	mat-cell {
		/* Behave  like a "row" */
		border: none !important;
    position: relative !important;
    min-height: 0;

    &:first-of-type {
      float: left;
    }

    &.toto {
      height: 32px;
    }

    &:not(:first-of-type) {
      margin: auto;

      & > .cell-content {
        position: absolute;
        width: 100vw;
        right: -15vw;
        bottom: 6%;
      }
    }

    &:last-of-type {
      padding-bottom: 5px;
      padding-right: 0 !important;
    }

    &:before {
      /* Now like a table header */
      position: absolute !important;
      /* Top/left values mimic padding */
      top: 6px !important;
      left: 6px !important;
      width: 45% !important;
      padding-right: 10px !important;
      white-space: nowrap !important;
    }
  }

  .mat-column-select > * {
    padding-left: 0;
  }

  .btn-detail {
    & .btn-icon {
      display: none;
    }
    & .btn-text {
      display: inherit;
    }
  }
}
