@import "../../../../styles/styles";

/* stylelint-disable selector-pseudo-element-no-unknown */

.tag-label {
  display: flex;
  justify-content: center;

  & .edit {
    display: block;
    align-self: center;
  }
}

.tag-color {
  margin: 0 15px;
}

.pulse {
  animation: 3s linear infinite pulse;
}

.cell-checkbox {
  justify-content: center;
}

app-search-data,
.tag-btn {
  display: flex;
  justify-content: center;
}

.data-poster {
  height: 100px;
  margin: 10px 0;
  box-shadow: 1px 1px 10px #000;
}

.movie {
  background-color: #e8dbd1;
}

.serie {
  background-color: #d1dee8;
}

@include media(#{$smallscreen}) {
  ::ng-deep.color-picker {
    left: 0 !important;
    margin: 0 10px;

    & .arrow.arrow-right {
      left: 0 !important;
      margin: 0 100%;
      transform: rotateY(180deg);
    }
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    color: $warning;
    border-color: $warning;
    transform: scale(1.02);
  }

  100% {
    transform: scale(1);
  }
}
