@import "../../../styles/styles";

.mat-line {
  margin-left: 72px !important;
}

.mat-button-toggle,
.toogleHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.params {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;

  & > *:not(button) {
    padding: 0 10px 0 10px;
  }
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.ng2-nouislider {
  width: 50%;
  margin-left: 25vw;
}

.mat-slide-toggle {
  display: flex;
  align-items: center;
  align-self: center;
}

.vote {
  display: flex;
  flex-wrap: wrap;
}

#voteCount {
  margin-left: 50px;
  margin-top: 2.25em;
}

::ng-deep .noUi-handle {/* stylelint-disable-line */
  cursor: grab;
}

.selected {
  background-color: $light_gray;
}

a {
  position: absolute !important;
  float: left !important;
  margin: 0 !important;

  & img {
    height: 54px;
  }
}

@include media(#{$smallscreen}) {
  .ng2-nouislider {
    width: 80vw;
    margin-left: 5vh;
  }

  #voteCount {
    margin-left: 25%;
    margin-top: 0;
  }
}
