<div class="params">
  <!-- Sort field -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.sort' | translate}}" [(value)]="sortChosen">
      <mat-option *ngFor="let sort of sortChoices" [value]="sort">{{sort.label_key | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Sort direction -->
  <mat-button-toggle-group #sortDir="matButtonToggleGroup">
    <div class="toogleHeader">{{'discover.sort_direction'|translate}}:</div>
    <mat-button-toggle value="desc">
      {{'discover.sort_up'|translate}}
    </mat-button-toggle>
    <mat-button-toggle value="asc">
      {{'discover.sort_down'|translate}}
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="params">
  <!-- Person search -->
  <app-search-box [adult]="adult" (items)="people = $event" [service]="personService" placeholder="{{'discover.people'|translate}}"
    [initList]="people" [clear]="clean"></app-search-box>
  <!-- Keyword search -->
  <app-search-box [adult]="adult" (items)="keyword = $event" [service]="keywordService" placeholder="{{'discover.keyword'|translate}}"
    [initList]="keyword" [clear]="clean"></app-search-box>
  <mat-slide-toggle [color]="'primary'" [(checked)]="isWithoutKeyword" (change)="isWithoutKeyword = !isWithoutKeyword">{{'discover.without'|translate}}</mat-slide-toggle>
  <!-- Genres Filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.genre' | translate}}" [(value)]="selectedGenres" multiple>
      <mat-option *ngFor="let genre of allGenres" [value]="genre.value">{{genre.label_key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle [color]="'primary'" [(checked)]="isWithoutGenre" (change)="isWithoutGenre = !isWithoutGenre">{{'discover.without'|translate}}</mat-slide-toggle>
  <!-- Certification Filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.certification' | translate}}" [(value)]="selectedCertif">
      <mat-option>{{'discover.none'|translate}}</mat-option>
      <mat-option *ngFor="let certif of allCertif" [value]="certif">{{certif.label_key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Release type filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.release_type' | translate}}" [(value)]="selectedReleaseType" multiple>
      <mat-option *ngFor="let type of allReleaseType" [value]="type">{{type.label_key | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- Runtime range -->
<nouislider [connect]="true" [min]="0" [max]="max" [step]="1" [(ngModel)]="runtimeRange" [format]="formatter"
  [tooltips]="[true, true]" id="runtime-slider"></nouislider>
<!-- Year range -->
<nouislider [connect]="true" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="yearRange" [tooltips]="[true, true]"
  [disabled]="playing" style="margin-top: 4em;"></nouislider>
<!-- Vote range -->
<div class="vote">
  <nouislider [connect]="true" [min]="minVote" [max]="maxVote" [step]="0.1" [(ngModel)]="voteRange" [tooltips]="[true, true]"
    style="margin-top: 4em;"></nouislider>
  <mat-form-field id="voteCount">
    <mat-select placeholder="{{'discover.vote_count_min' | translate}}" [(value)]="voteCountMin">
      <mat-option *ngFor="let vote of voteCountRange" [value]="vote">{{vote}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<div class="params">
  <!-- Playing Slider -->
  <mat-slide-toggle [color]="'primary'" [(checked)]="playing" (change)="playing = !playing">{{'discover.playing'|translate}}</mat-slide-toggle>
</div>
<div class="params">
  <!-- Add to Collection Btn -->
  <button type="button" class="btn btn-outline-primary" *ngIf="nbChecked > 0" appAddCollection [movies]="discover.movies"
    [label]="'global.add_collection'">
  </button>
  <!-- Init Btn -->
  <button type="button" class="btn btn-outline-primary" (click)="clear()">{{'discover.clear'|translate}}</button>
  <!-- Search Button -->
  <button type="submit" id="searchBtn" class="btn btn-outline-primary" (click)="search(true)">{{'discover.search'|translate}}</button>
</div>

<!-- Result list -->
<mat-list dense *ngIf="discover" class="result-list">
  <mat-paginator class="mat-elevation-z4" [length]="discover.total_results" [pageIndex]="page.pageIndex" [pageSize]="20"
    (page)="page = $event; search(false);" [showFirstLastButtons]="true">
  </mat-paginator>
  <h3 mat-subheader>{{'discover.result'|translate}}:</h3>
  <mat-list-item *ngFor="let movie of discover.movies" [ngClass]="{'selected':movie.checked, 'adult': movie.adult}">
    <img src="{{movie.thumbnail}}" />
    <p matLine appOpenLink [label]="movie.title" url="/movie/{{movie.id}}" class="result-title">{{movie.title}}</p>
    <p matLine>{{movie.original_title}}</p>
    <p matLine>{{movie.language | uppercase}}</p>
    <p matLine>{{movie.date | date:'EEEE dd MMMM yyyy':'':translate.currentLang | capitalizeWord}}</p>
    <p matLine>
      <span>{{movie.note}} / 10 </span>
      <span>({{movie.vote_count}})</span>
      <span> - {{movie.popularity | number:'1.0-2':translate.currentLang}}</span>
    </p>
    <p matLine *ngIf="(genresLoaded$ | async)">
      <span class="block" *ngIf="movie.genres && movie.genres.length > 0">
        <span *ngFor="let genre of movie.genres; let last=last;">
          <span class="pointer" (click)="filterGenre(genre.id)">{{getGenre(genre.id)|
            capitalizeWord}}</span>
          <span *ngIf="!last">/</span>
        </span>
      </span>
    </p>
    <mat-checkbox class="result-checkbox" [(ngModel)]="movie.checked" (change)="updateSize()"></mat-checkbox>
  </mat-list-item>
  <mat-paginator class="mat-elevation-z4" [length]="discover.total_results" [pageIndex]="page.pageIndex" [pageSize]="20"
    (page)="page = $event; search(false);" [showFirstLastButtons]="true">
  </mat-paginator>
</mat-list>
