<div class="params">
  <button type="button" class="btn btn-outline-primary" (click)="clear()">{{'Init'|translate}}</button>
  <button type="button" class="btn btn-outline-primary" *ngIf="nbChecked > 0" (click)="initSelection()" appAddCollection [movies]="discover.movies">{{'global.add_collection'|translate}}</button>
  <!-- Sort field -->
  <mat-form-field>
    <mat-select placeholder="{{'Sort' | translate}}" [(value)]="sortChosen">
      <mat-option *ngFor="let sort of sortChoices" [value]="sort">{{sort.label_key | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Sort direction -->
  <mat-button-toggle-group #sortDir="matButtonToggleGroup">
    <div class="toogleHeader">SortDirection:</div>
    <mat-button-toggle value="desc">
      Down
    </mat-button-toggle>
    <mat-button-toggle value="asc">
      Up
    </mat-button-toggle>
  </mat-button-toggle-group>
</div>
<div class="params">
  <!-- Person search -->
  <app-search-box [adult]="adult" (items)="people = $event" [service]="personService" [placeholder]="'People'" [initList]="people"
    [clear]="clean"></app-search-box>
  <!-- Keyword search -->
  <app-search-box [adult]="adult" (items)="keyword = $event" [service]="keywordService" [placeholder]="'Keyword'" [initList]="keyword"
    [clear]="clean"></app-search-box>
    <mat-slide-toggle [color]="'primary'" [(checked)]="isWithoutKeyword" (change)="isWithoutKeyword = !isWithoutKeyword">Without</mat-slide-toggle>
  <!-- Genres Filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.filter.genres' | translate}}" [(value)]="selectedGenres" multiple>
      <mat-option *ngFor="let genre of allGenres" [value]="genre">{{genre.label_key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-slide-toggle [color]="'primary'" [(checked)]="isWithoutGenre" (change)="isWithoutGenre = !isWithoutGenre">Without</mat-slide-toggle>
  <!-- Certification Filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.filter.certification' | translate}}" [(value)]="selectedCertif">
      <mat-option>None</mat-option>
      <mat-option *ngFor="let certif of allCertif" [value]="certif">{{certif.label_key}}</mat-option>
    </mat-select>
  </mat-form-field>
  <!-- Release type filter -->
  <mat-form-field>
    <mat-select placeholder="{{'discover.filter.release_type' | translate}}" [(value)]="selectedReleaseType" multiple>
      <mat-option *ngFor="let type of allReleaseType" [value]="type">{{type.label_key | translate}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>
<!-- Runtime range -->
<nouislider [connect]="true" [min]="0" [max]="max" [step]="1" [(ngModel)]="runtimeRange" [format]="formatter" [tooltips]="[true, true]"
  style="margin-top: 4em;"></nouislider>
<!-- Year range -->
<nouislider [connect]="true" [min]="minYear" [max]="maxYear" [step]="1" [(ngModel)]="yearRange" [tooltips]="[true, true]"
  style="margin-top: 4em;"></nouislider>
<!-- Vote range -->
<div class="vote">
  <nouislider [connect]="true" [min]="minVote" [max]="maxVote" [step]="0.1" [(ngModel)]="voteRange" [tooltips]="[true, true]"
    style="margin-top: 4em;"></nouislider>
  <mat-form-field id="voteCount">
    <input matInput placeholder="Vount count minimum" [(ngModel)]="voteCountMin" type="number" required/>
  </mat-form-field>
</div>
<div class="params">
  <!-- Search Button -->
  <button type="submit" id="searchBtn" class="btn btn-outline-primary" (click)="search(true)">{{'Search'|translate}}</button>
</div>

<!-- Result list -->
<mat-list dense *ngIf="discover">
  <mat-paginator [length]="discover.total_results" [pageIndex]="page.pageIndex" [pageSize]="20" (page)="page = $event; search(false);"
    [showFirstLastButtons]="true">
  </mat-paginator>
  <h3 mat-subheader>Résultats:</h3>
  <mat-list-item *ngFor="let movie of discover.movies" (dblclick)="gotoDetail(movie.id, $event)" (mousedown)="movie.checked = !movie.checked; updateSize();gotoDetail(movie.id, $event)"
    [ngClass]="{'selected':movie.checked, 'adult': movie.adult}">
    <a class="frame" href="{{movie.affiche}}" target="_blank">
      <img src="{{movie.thumbnail}}">
    </a>
    <p matLine>{{movie.title}}</p>
    <p matLine>{{movie.original_title}}</p>
    <p matLine>{{movie.date | date:'EEEE dd MMMM yyyy':'':translate.currentLang | capitalizeWord}}</p>
    <p matLine>
      <span>{{movie.note}} / 10 </span>
      <span>({{movie.vote_count}})</span>
    </p>
  </mat-list-item>
  <mat-paginator [length]="discover.total_results" [pageIndex]="page.pageIndex" [pageSize]="20" (page)="page = $event; search(false);"
    [showFirstLastButtons]="true">
  </mat-paginator>
</mat-list>
