@import "../../../styles/styles";

.mat-line {
  margin-left: 72px !important;
}

.mat-button-toggle,
.toogleHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.params {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.ng2-nouislider {
  width: 50%;
  margin-left: 25vw;
}

/* stylelint-disable */
::ng-deep .noUi-handle {
  cursor: grab;
}

.selected {
  background-color: $light_gray;
}

a {
  position: absolute !important;
  float: left !important;
  margin: 0 !important;

  & img {
    height: 54px;
  }
}

@include media(#{$smallscreen}) {
  .ng2-nouislider {
    width: 80vw;
    margin-left: 5vh;
  }
}
