@import "../../../styles/styles";

.mat-line {
  margin-left: 72px !important;
}

.mat-button-toggle,
.toogleHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.params {
  display: flex !important;
  justify-content: center;
  flex-wrap: wrap;
}

.mat-paginator {
  display: flex;
  justify-content: center;
}

.selected {
  background-color: $light_gray;
}

a {
  position: absolute !important;
  float: left !important;
  margin: 0 !important;

  & img {
    height: 54px;
  }
}
