<div class="title">{{'playing.title' | translate}}:</div>
<div class="params">
  <!-- Add to Collection Btn -->
  <button type="button" class="btn btn-outline-primary" *ngIf="nbChecked > 0" (click)="initSelection()"
    appAddCollection [movies]="playing.movies" [label]="'global.add_collection'">
  </button>
</div>

<!-- Result list -->
<mat-list dense *ngIf="playing" class="result-list">
  <mat-paginator class="mat-elevation-z4" [length]="playing.total_results" [pageIndex]="page.pageIndex" [pageSize]="20"
    (page)="page = $event; search(false);" [showFirstLastButtons]="true">
  </mat-paginator>
  <h3 mat-subheader>{{'discover.result'|translate}}:</h3>
  <mat-list-item *ngFor="let movie of playing.movies" [ngClass]="{'selected':movie.checked, 'adult': movie.adult}">
    <img src="{{movie.thumbnail}}" />
    <p matLine appOpenLink [label]="movie.title" url="/movie/{{movie.id}}" class="result-title">{{movie.title}}</p>
    <p matLine>{{movie.original_title}}</p>
    <p matLine>{{movie.language | uppercase}}</p>
    <p matLine>{{movie.date | date:'EEEE dd MMMM yyyy':'':translate.currentLang | capitalizeWord}}</p>
    <p matLine>
      <span>{{movie.note}} / 10 </span>
      <span>({{movie.vote_count}})</span>
      <span> - {{movie.popularity | number:'1.0-2':translate.currentLang}}</span>
    </p>
    <mat-checkbox class="result-checkbox" [(ngModel)]="movie.checked" (change)="updateSize()"></mat-checkbox>
  </mat-list-item>
  <mat-paginator class="mat-elevation-z4" [length]="playing.total_results" [pageIndex]="page.pageIndex" [pageSize]="20"
    (page)="page = $event; search(false);" [showFirstLastButtons]="true">
  </mat-paginator>
</mat-list>
