<mat-form-field>
  <input #trigger="matAutocompleteTrigger" #inputSearch matInput placeholder="{{'tags.select'|translate}}" [matAutocomplete]="auto" [formControl]="tagCtrl">
</mat-form-field>
<button type="button" class="btn btn-outline-primary" (click)="add(inputSearch.value, trigger, auto)" *ngIf="inputSearch.value !== '' && !alreadyExist">
  <fa-icon [icon]="faPlus" size="xs"></fa-icon>
</button>
<mat-autocomplete #auto="matAutocomplete" (optionSelected)="select($event.option.value, trigger, auto);">
  <mat-option *ngFor="let tag of filteredTags | async" [value]="tag">
    {{tag.label}}
  </mat-option>
</mat-autocomplete>
