<div *ngIf="person">
  <h2>D&eacute;tails de {{person.name}} :</h2>
  <div>
    <a class="profile" href="{{person.profile}}" target="_blank">
      <img src="{{person.thumbnail}}">
    </a>
  </div>
  <div class="contenu">
    <button class="btn btn-outline-primary" (click)="goBack()">
      <i class="fa fa-chevron-circle-left" aria-hidden="true"></i> Previous Page</button>
    <div>
      <label>Id:</label>{{person.id}}
    </div>
    <div>
      <label>Nom: </label><span [ngClass]="{'woman': person.gender === 1, 'men': person.gender === 2, 'unknown': person.gender === 0}">{{person.name | capitalizeWord}}</span>
      <div *ngIf="person.birthPlace">
        <label>Lieu de naissance: </label>{{person.birthPlace | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday">
        <label>Naissance: </label>{{person.birthday | date:'dd MMMM yyyy' | capitalizeWord}}
      </div>
      <div *ngIf="person.birthday | substractDate:person.deathday as age">
        <label>Age: </label>{{age}}
      </div>
      <div *ngIf="person.deathday">
        <label>Mort: </label>{{person.deathday | date:'dd MMMM yyyy' | capitalizeWord}}
      </div>
      <div *ngIf="person.biography">
        <label>Biographie: </label>
        <div class="biography">{{person.biography}}</div>
      </div>
    </div>
    <div *ngIf="person.images.length > 0">
      <button type="button" class="btn btn-outline-primary" (click)="isImagesCollapsed = !isImagesCollapsed">
        <i class="fa fa-plus-square" aria-hidden="true" [ngClass]="{'display-none' : isImagesCollapsed}"></i>
        <i class="fa fa-minus-square" aria-hidden="true" [ngClass]="{'display-none' : !isImagesCollapsed}"></i>
        Images:</button>
      <div *ngIf="isImagesCollapsed">
        <div class="card">
          <div class="card-body">
            <div class="reco">
              <a *ngFor="let ima of person.images;" class="affiche" href="{{Url.IMAGE_URL_ORIGINAL.concat(ima)}}" target="_blank">
                <img src="{{Url.IMAGE_URL_154.concat(ima)}}">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <figure>
      <label>Films notables:</label>
      <ul>
        <li *ngIf="person.asActor.length > 0">
          <label>En tant qu'acteur:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asActor;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
        <li *ngIf="person.asDirector.length > 0">
          <label>En tant que r&eacute;alisateur:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asDirector;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
        <li *ngIf="person.asProducer.length > 0">
          <label>En tant que producteur:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asProducer;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
        <li *ngIf="person.asCompositors.length > 0">
          <label>En tant que compositeur:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asCompositors;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
        <li *ngIf="person.asScreenplay.length > 0">
          <label>En tant que sc&eacute;nariste:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asScreenplay;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
        <li *ngIf="person.asNovel.length > 0">
          <label>En tant qu'&eacute;crivain:</label>
          <div class="reco">
            <a *ngFor="let movie of person.asNovel;" class="affiche" [routerLink]="['/detail', movie.id]" ngbTooltip="{{movie.title | capitalizeWord}}">
              <img src="{{movie.thumbnail}}" alt="{{movie.title| capitalizeWord}}">
            </a>
          </div>
        </li>
      </ul>
    </figure>
  </div>
</div>
