body {
	font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif !important;
	font-size: 13px !important;
}

h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif !important;
	font-size: 250% !important;
}

h1, h2, h3, h4 {
	box-sizing: border-box !important;
	font-family: Arial,"Helvetica Neue",Helvetica,sans-serif !important;
	font-size: 13px !important;
	margin-bottom: 8px !important;
	margin-top: 0px !important;
	position: relative !important;
	text-align: center !important;
}

.icon img {
	height: 30px;
	background-color: rgb(246, 246, 246);
	vertical-align: middle;
	padding-bottom: 4px;
}

.pointer {
	cursor: pointer;
}

.pointer:hover {
	text-decoration: underline;
}

.small {
	color: #8d8d8d;
	font-size: 12px;
    top: calc(50% - 17px);
    position: relative;
}

.block {
	display: inline-block;
}

.item-result {
	top: calc(50% - 9px);
	position: relative;
}

.search-result {
	border: 1px solid gray;
	width: calc(70% - 18px);
	padding: 5px;
	background-color: white;
	cursor: pointer;
	border-radius: 8px;
	cursor: pointer;
	padding: 5px 10px 5px 10px;
	height: 35px;
	transition: background-color .3s, color .3s;
	margin-top: 1px;
	margin-left: calc(10% + 10px);
}

.search-result:hover {
	background-color: #0ad06f;
	color: #fff;
}

.search-box, .input-box {
	background-color: rgb(246, 246, 246);
	border-radius: 8px;
	border: 0;
	color: #484848;
	font-size: 16px;
	height: 100%;
	outline: 0;
	padding: 8px 5px 8px 15px;
	position: relative;
	width: 70%;
}

.search-box {
	margin-left: 10%;
}

input {
	width: calc(80% - 8px) !important;
}

.affiche {
    float: left;
    display: inline-block;
    max-width: 90%;
    margin: 0px 30px 0px 10px;
    -webkit-box-shadow: 1px 1px 20px #000000;
    -moz-box-shadow: 1px 1px 20px #000000;
    box-shadow: 1px 1px 20px #000000;
    border: 3px solid #000;
    position: relative;
    vertical-align: bottom;
}

.affiche img {
    border: 0;
    vertical-align: top;
}

.affiche:hover::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, .5);
}

.reco a {
    margin: 20px 8px 10px 8px;
    float: none;
}