@import "../../../styles/styles";

/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
  position: fixed;
  bottom: 0;
  z-index: map-get($depth, 'top');
  display: flex;
  justify-content: center;
  width: 100vw;

  & ::ng-deep.fa-angle-up {
    color: $blue;
  }

  & button {
    height: auto;
    cursor: pointer;
  }
}

@include media(#{$smallscreen}) {
  :host {
    right: 0;
    bottom: 0;
  }
}
