@import '../../../styles/styles';

/* stylelint-disable selector-pseudo-element-no-unknown */
:host {
  position: fixed;
  bottom: 0;
  left: 50%;
  z-index: map-get($depth, 'top');
  display: flex;
  justify-content: center;

  & ::ng-deep.fa-angle-up {
    color: $blue;
  }

  & button {
    height: auto;

    &:focus {
      outline: 0;
    }
  }
}

@include media(#{$smallscreen}) {
  :host {
    right: 0;
    bottom: 0;
  }
}
