@import "../../../styles/styles";

:host > nav {
  width: 80%;
}

.meta {
  & > a {
    margin-bottom: 6px !important;
    border: 1px solid $blue;
    border-radius: 8px !important;

    &:hover {
      color: $true_white;
      background-color: $blue;
    }
  }
}

@include media(#{$smallscreen}) {
  :host,
  :host > nav {
    @include full_width;
  }
}
