<form #changeForm="ngForm">
  <mat-form-field>
    <input matInput [(ngModel)]="oldPass" placeholder="{{'login.change_password.old'|translate}}" type="password" #inputOldPass="ngModel"
      name="inputOldPass" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="pass1" placeholder="{{'login.change_password.new'|translate}}" type="password" #inputPass1="ngModel"
      name="inputPass1" required/>
  </mat-form-field>
  <mat-form-field>
    <input matInput [(ngModel)]="pass2" placeholder="{{'login.change_password.new'|translate}}" type="password" #inputPass2="ngModel"
      name="inputPass2" required/>
  </mat-form-field>
  <mat-error *ngIf="message">{{message | translate}}</mat-error>
  <div>
    <button type="button" class="btn btn-outline-primary" routerLink="/login/profile">{{'global.cancel'|translate}}</button>
    <button type="submit" class="btn btn-outline-primary" (click)="change()" [disabled]="changeForm.invalid">{{'global.save'|translate}}</button>
  </div>
</form>
