@import '../../../styles/styles';

:host {
  position: relative;
  display: flex;
  justify-content: center;
  margin: 5vh auto;
  padding: 25px;
}

.mat-form-field {
  display: inherit;
  width: 200px;
}
