.selected {
  color: white;
  background-color: #cfd8dc !important;
}

.movies {
  width: 25em;
  margin: 0 0 2em 0;
  padding: 0;
  list-style-type: none;
}

.movies li {
  position: relative;
  left: 0;
  height: 1.6em;
  margin: 0.5em;
  padding: 0.3em 0;
  background-color: #eee;
  border-radius: 4px;
  cursor: pointer;
}

.movies li:hover {
  left: 0.1em;
  color: #607d8b;
  background-color: #ddd;
}

.movies li.selected:hover {
  color: white;
  background-color: #bbd8dc !important;
}

.movies .text {
  position: relative;
  top: -3px;
}

.movies .badge {
  position: relative;
  left: -1px;
  top: -4px;
  display: inline-block;
  height: 1.8em;
  margin-right: 0.8em;
  padding: 0.8em 0.7em 0 0.7em;
  font-size: small;
  line-height: 1em;
  color: white;
  background-color: #607d8b;
  border-radius: 4px 0 0 4px;
}

button {
  padding: 5px 10px;
  font-family: Arial, sans-serif;
  background-color: #eee;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:hover {
  background-color: #cfd8dc;
}

button.delete {
  float: right;
  margin-top: 2px;
  margin-right: 0.8em;
  color: white;
  background-color: gray !important;
}

#example {
  width: 99% !important;
}
