@import "../../../styles/styles";

:host {
  & .release-content {
    display: inline-flex;

    > div {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
}

.release-list {
  min-width: 20vw;
}

@include media(#{$smallscreen}) {
  :host,
  .list-group,
  .release-content,
  .row {
    @include full_width;
  }

  :host {
    & .release-content {
      display: inherit !important;

      > div {
        padding-left: 0;
        padding-right: 0;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }
  }

  ngb-datepicker {/* stylelint-disable-line */
    ~ .btn {
      @include full_width;
    }
  }
}
