<!-- Date Picker -->
<div class="column">
  <ngb-datepicker #dp [(ngModel)]="model" (ngModelChange)="getMoviesByReleaseDates(); selectedMovie = null;" [routerLink]="['/release']"
    [queryParams]="{ date: parseDate()}"></ngb-datepicker>
  <button class="btn btn-outline-primary" (click)="dp.navigateTo(removeOneWeek())" [routerLink]="['/release']" [queryParams]="{ date: addDays(-7)}">{{'release.date.previous' | translate}}</button>
  <button class="btn btn-outline-primary" (click)="dp.navigateTo(selectPreviousWednesday())" [routerLink]="['/release']">{{'release.date.current' | translate}}</button>
  <button class="btn btn-outline-primary" (click)="dp.navigateTo(addOneWeek())" [routerLink]="['/release']" [queryParams]="{ date: addDays(7)}">{{'release.date.next' | translate}}</button>
</div>
<!-- Movie list -->
<div>
  {{'release.header' | translate:{begin:monday | date : "dd/MM/yyyy", end:sunday | date : "dd/MM/yyyy"} }}:
  <div class="list-group">
    <a *ngFor="let movie of movies" (click)="onSelect(movie)" class="list-group-item list-group-item-action pointer" [class.active]="selectedMovie !==null && movie.id === selectedMovie.id">
      <span *ngIf="movie.language">{{movie.language | uppercase}} - </span>
      <span class="font-weight-bold" [ngClass]="{'text-info': isInfo(movie), 'text-success': isSuccess(movie), 'text-danger': isDanger(movie)}">
        {{movie.title.slice(0,40) | capitalizeWord}}</span>
      <span *ngIf="movie.note > 0"> - {{movie.note}}/10</span>
      <span *ngIf="movie.vote_count > 0">({{movie.vote_count}})</span>
      <span *ngIf="movie.popularity > 0"> - {{movie.popularity | number: '1.0-0'}}</span>
    </a>
  </div>
</div>
<!-- Selected Movie -->
<div *ngIf="selectedMovie">
  <div>
    <a class="frame" href="{{selectedMovie.affiche}}" target="_blank">
      <img src="{{selectedMovie.thumbnail}}" />
    </a>
  </div>
  <div>
    <h2>
      <span *ngFor="let country of selectedMovie.production_countries">
        <span class="flag-icon flag-icon-{{country.iso_3166_1 | lowercase}}"></span>
      </span>{{selectedMovie.title | capitalizeWord}}</h2>
    <div>
      <label>{{'movie.date' | translate}}: </label>{{selectedMovie.date | date:'EEEE dd MMMM yyyy':'':language | capitalizeWord}}
    </div>
    <div *ngIf="selectedMovie.synopsis">
      <label>{{'movie.synopsis' | translate}}: </label>
      <div class="synopsis text-justify">{{selectedMovie.synopsis}}</div>
    </div>
    <div *ngIf="selectedMovie.time > 0">
      <label>{{'movie.length' | translate}}: </label>{{selectedMovie.time | convertToHHmm}}
    </div>
    <div *ngIf="selectedMovie.genres.length > 0">
      <label>{{'movie.genres' | translate}}: </label>
      <div class="block">
        <span *ngFor="let genre of selectedMovie.genres; let last=last;">
          <span>{{genre| capitalizeWord}}</span>
          <span *ngIf="!last">/</span>
        </span>
      </div>
    </div>
    <app-list-persons [persons]="selectedMovie.actors" [label]="'person-list.actors' | translate"></app-list-persons>
    <div *ngIf="(selectedMovie.crew | filterCrew:'director') as director">
      <app-list-persons [persons]="director" [label]="'person-list.directors' | translate"></app-list-persons>
    </div>
    <div *ngIf="selectedMovie.note > 0">
      <label>{{'movie.rating' | translate}}: </label>{{selectedMovie.note}} / 10
      <rating [(ngModel)]="selectedMovie.note" [max]="10" [readonly]="true" [float]="true"></rating>
    </div>
    <app-meta [entry]="selectedMovie" [sites]="[Url.SEARCH_BANG_METACRITIC, Url.SEARCH_BANG_SENSCRITIQUE, Url.SEARCH_BANG_WIKI_EN, Url.SEARCH_BANG_WIKI_FR, Url.SEARCH_BANG_IMDB]"></app-meta>
    <button class="btn btn-outline-primary" (click)="addToCollection(selectedMovie)">
      <span class="fa fa-save" aria-hidden="true"></span> {{'global.add_collection' | translate}}
    </button>
    <a class="btn btn-outline-primary" [routerLink]="['/movie', selectedMovie.id]"> {{'global.go_detail' | translate}}
      <i class="fa fa-chevron-circle-right" aria-hidden="true"></i>
    </a>
  </div>
</div>
