<h2>{{ 'title.release' | translate }}:</h2>
<div class="release-content">
  <!-- Date Picker -->
  <div class="column">
    <ngb-datepicker
      #dp
      [(ngModel)]="model"
      (ngModelChange)="getMoviesByReleaseDates(); selectedId = undefined"
      (select)="navigate(parseDate())"
      class="mat-elevation-z2"
    ></ngb-datepicker>
    <button class="btn btn-outline-primary" (click)="navigate(addDays(-7))">
      {{ 'release.date.previous' | translate }}
    </button>
    <button class="btn btn-outline-primary" (click)="navigate(undefined)">
      {{ 'release.date.current' | translate }}
    </button>
    <button class="btn btn-outline-primary" (click)="navigate(addDays(7))">
      {{ 'release.date.next' | translate }}
    </button>
  </div>
  <!-- Movie list -->
  <div class="release-list">
    <h3>
      {{
        'release.header'
          | translate
            : {
                begin: monday | date: 'dd/MM/yyyy',
                end: sunday | date: 'dd/MM/yyyy'
              }
      }}:
    </h3>
    <div class="list-group mat-elevation-z4">
      <a
        *ngFor="let movie of movies; let last = last"
        (click)="onSelect(movie)"
        class="list-group-item list-group-item-action pointer"
        [class.active]="movie.id === selectedId"
        [ngClass]="{selectedId: last}"
      >
        <app-bookmarked [id]="movie.id" [isMovie]="true"></app-bookmarked>
        <span *ngIf="movie.language">{{ movie.language | uppercase }} - </span>
        <span
          class="font-weight-bold"
          [ngClass]="{
            'text-info': isInfo(movie),
            'text-success': isSuccess(movie),
            'text-danger': isDanger(movie)
          }"
        >
          {{ movie.title.slice(0, 40) | capitalizeWord }}</span
        >
        <span *ngIf="movie.vote > 0"> - {{ movie.vote }}/10</span>
        <span *ngIf="movie.vote_count > 0">({{ movie.vote_count }})</span>
        <span *ngIf="movie.popularity > 0">
          - {{ movie.popularity | number: '1.0-2':translate.currentLang }}</span
        >
      </a>
    </div>
  </div>
  <!-- Selected Movie -->
  <div *ngIf="selectedId">
    <app-movie-detail
      [id]="selectedId"
      [config]="config"
      (loaded)="onLoaded()"
    ></app-movie-detail>
  </div>
</div>
