@import "../../../styles/styles";

.display-inline-flex > div {
  padding-left: 5px;
  padding-right: 5px;
}

@include media(#{$smallscreen}) {
  :host,
  .list-group,
  .row {
    @include full_width;
  }

  .display-inline-flex {
    display: inherit !important;

    > div {
      padding-left: 0;
      padding-right: 0;
    }
  }

  /* stylelint-disable */
  ngb-datepicker {
    ~ .btn {
      @include full_width;
    }
  }
}
