@import "../../../styles/styles";

:host {
  display: inline-flex;

  > div {
    padding-left: 5px;
    padding-right: 5px;
  }
}

@include media(#{$smallscreen}) {
  :host,
  .list-group,
  .row {
    @include full_width;
  }

  :host {
    display: inherit !important;

    > div {
      padding-left: 0;
      padding-right: 0;
      padding-top: 10px;
      padding-bottom: 10px;
    }
  }

  ngb-datepicker {/* stylelint-disable-line */
    ~ .btn {
      @include full_width;
    }
  }
}
